@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* Global styles */
.window-app {
	font-family: "Roboto", sans-serif;
}

.rollable:hover, .rollable:focus {
	color: #000;
	text-shadow: 0 0 10px red;
	cursor: pointer;
}

.grid,
.grid-2col {
	display: grid;
	grid-column: span 2 / span 2;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	gap: 10px;
	margin: 10px 0;
	padding: 0;
}

.grid-3col {
	grid-column: span 3 / span 3;
	grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
	grid-column: span 4 / span 4;
	grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
	grid-column: span 5 / span 5;
	grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
	grid-column: span 6 / span 6;
	grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
	grid-column: span 7 / span 7;
	grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
	grid-column: span 8 / span 8;
	grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
	grid-column: span 9 / span 9;
	grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
	grid-column: span 10 / span 10;
	grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
	grid-column: span 11 / span 11;
	grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
	grid-column: span 12 / span 12;
	grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
	grid-column-start: 2;
}

.grid-start-3 {
	grid-column-start: 3;
}

.grid-start-4 {
	grid-column-start: 4;
}

.grid-start-5 {
	grid-column-start: 5;
}

.grid-start-6 {
	grid-column-start: 6;
}

.grid-start-7 {
	grid-column-start: 7;
}

.grid-start-8 {
	grid-column-start: 8;
}

.grid-start-9 {
	grid-column-start: 9;
}

.grid-start-10 {
	grid-column-start: 10;
}

.grid-start-11 {
	grid-column-start: 11;
}

.grid-start-12 {
	grid-column-start: 12;
}

.grid-span-2 {
	grid-column-end: span 2;
}

.grid-span-3 {
	grid-column-end: span 3;
}

.grid-span-4 {
	grid-column-end: span 4;
}

.grid-span-5 {
	grid-column-end: span 5;
}

.grid-span-6 {
	grid-column-end: span 6;
}

.grid-span-7 {
	grid-column-end: span 7;
}

.grid-span-8 {
	grid-column-end: span 8;
}

.grid-span-9 {
	grid-column-end: span 9;
}

.grid-span-10 {
	grid-column-end: span 10;
}

.grid-span-11 {
	grid-column-end: span 11;
}

.grid-span-12 {
	grid-column-end: span 12;
}

.flex-fix-height {
	height: 130px;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	scrollbar-width: none;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
}

.flex-group-left {
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	text-align: left;
}

.flex-group-right {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	text-align: right;
}

.flexshrink {
	-webkit-box-flex: 0;
	-ms-flex: 0;
	flex: 0;
}

.flex-between {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.flexlarge {
	-webkit-box-flex: 2;
	-ms-flex: 2;
	flex: 2;
}

.align-left {
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	text-align: left;
}

.align-right {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	text-align: right;
}

.align-center {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center;
}

.condition-toggle,
.condition-edit {
	padding: 1px;
	border: none;
	color: var(--border-color);
}

.chatButton {
	border: 1px solid var(--border-color);
	padding: 2px;
	border-radius: 5px;
	box-shadow: 0 0 12px #444 inset;
	display: inline-block;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-top: 5px;
}

/* Styles limited to space1889 sheets */
.space1889 {
	/* ----------------------------------------- */
	/*  Items Lists                              */
	/* ----------------------------------------- */
	/* Example style for Space1889 (can be removed if not needed) */
}

.space1889 .item-form {
	font-family: "Roboto", sans-serif;
}

.space1889 .sheet-header {
	-webkit-box-flex: 0;
	-ms-flex: 0 auto;
	flex: 0 auto;
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	margin-bottom: 10px;
}

.space1889 .sheet-header .profile-img {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100px;
	flex: 0 0 100px;
	height: 100px;
	object-fit: scale-down;
	margin-right: 10px;
}

.space1889 .sheet-header .header-fields {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.space1889 .sheet-header h1.charname {
	height: 50px;
	padding: 0px;
	margin: 5px 0;
	border-bottom: 0;
}

.space1889 .sheet-header h1.charname input {
	width: 100%;
	height: 100%;
	margin: 0;
}

.space1889 .sheet-tabs {
	-webkit-box-flex: 0;
	-ms-flex: 0;
	flex: 0;
}

.space1889 .sheet-body,
.space1889 .sheet-body .tab,
.space1889 .sheet-body .tab .editor {
	height: 100%;
	min-height: 30px;
}

.space1889 .tox .tox-editor-container {
	background: #fff;
}

.space1889 .tox .tox-edit-area {
	padding: 0 8px;
}

.space1889 .resource-label {
	font-weight: bold;
}

.space1889.sheet.actor select {
	height: calc(100% - 2px);
	border: 1px solid #7a7971;
	font-size: 12px;
	background: transparent;
}

.space1889.sheet.actor input[type="checkbox"] {
	position: relative;
	height: calc(100% - 2px);
	margin: 0;
	top: 1px;
	background: transparent;
}

.space1889 .items-header {
	height: 28px;
	margin: 2px 0;
	padding: 0;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.05);
	border: 2px groove #eeede0;
	font-weight: bold;
}

.space1889 .items-header-height40 {
	height: 40px;
	margin: 2px 0;
	padding: 0;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.05);
	border: 2px groove #eeede0;
	font-weight: bold;
	vertical-align: center;
	text-align: center;
	font-size: 12px;
}

.space1889 .items-header-center {
	height: 28px;
	margin: 2px 0;
	padding: 0;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.05);
	border: 2px groove #eeede0;
	font-weight: bold;
	text-align: center;
}

.space1889 .items-header > * {
	font-size: 14px;
	text-align: center;
}

.space1889 .items-header .item-name {
	font-weight: bold;
	padding-left: 5px;
	text-align: left;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.space1889 .items-list {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow-y: auto;
	scrollbar-width: thin;
	color: #444;
}

.space1889 .items-list .item-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.space1889 .items-list .item-name {
	-webkit-box-flex: 2;
	-ms-flex: 2;
	flex: 2;
	margin: 0;
	overflow: hidden;
	font-size: 13px;
	text-align: left;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.space1889 .items-list .item-name h3, .space1889 .items-list .item-name h4 {
	margin: 0;
	white-space: nowrap;
	overflow-x: hidden;
}

.space1889 .items-list .item-controls {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100px;
	flex: 0 0 100px;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.space1889 .items-list .item-controls a {
	font-size: 12px;
	text-align: center;
	margin: 0 6px;
}

.space1889 .items-list .item-control a {
	text-align: right;
}

.space1889 .items-list .item {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0 2px;
	border-bottom: 1px solid #c9c7b8;
}

.space1889 .item-max-with20px {
	max-width: 20px;
	text-align: center;
	vertical-align: center;
}

.space1889 .item-max-with40px{
	max-width: 41px;
	text-align: center;
	vertical-align: center;
}

.space1889 .item-max-with42px{
	max-width: 42px;
	text-align: center;
	vertical-align: center;
}

.space1889 .item-max-with60px{
	max-width: 60px;
	text-align: center;
	vertical-align: center;
}

.space1889 .item-max-with75px{
	max-width: 75px;
	align-items: center;
	text-align: center;
	vertical-align: center;
}

.space1889 .item-max-with85px{
	max-width: 85px;
	align-items: center;
	text-align: center;
	vertical-align: center;
}

.space1889 .item-max-with100px {
	max-width: 110px;
	text-align: center;
	vertical-align: center;
}

.space1889 .item-max-with150px {
	flex: content;
	flex-wrap: nowrap;
	overflow-x: clip;
	overflow-y: clip;
	max-width: 180px;
	text-align: left;
	vertical-align: center;
}

.space1889 .item-height40px{
height: 36px;
font-size: 12px;
}

.space1889 .item-margin5px{
	margin: 5px;
}

.space1889 .item-margintb2px {
	margin-top: 3px;
	margin-bottom: 3px;
}

.space1889 .item-margintb4px {
	margin-top: 4px;
	margin-bottom: 4px;
}

.space1889 .item-marginlr5px {
	margin-left: 5px;
	margin-right: 5px;
}

.space1889 .item-right{
	text-align: right;
}

.space1889 .item-left{
	text-align: left;
}

.space1889.sheet.actor .character 
{
	scrollbar-width: thin;
}

.space1889.sheet.actor .item-max-with40px input {
	align-items: right;
	vertical-align: center;
	text-align: center;
	height: 90%;
	margin: 0px;
	gap: 0px;
	padding: 0;
	max-width: 40px;
}

.space1889 .items-list .item:last-child {
	border-bottom: none;
}

.space1889 .items-list .item .item-name {
	color: #191813;
}

.space1889 .items-list .item .item-name .item-image {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 30px;
	flex: 0 0 30px;
	height: 30px;
	background-size: 30px;
	border: none;
	margin-right: 5px;
}

.space1889 .item-image-small {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 20px;
	flex: 0 0 20px;
	height: 18px;
	background-size: 18px;
	border: none;
	margin-right: 5px;
}


.space1889 .items-list .item-prop {
	text-align: center;
	border-left: 1px solid #c9c7b8;
	border-right: 1px solid #c9c7b8;
	font-size: 12px;
}

.space1889 .items-list .items-header {
	height: 28px;
	margin: 2px 0;
	padding: 0;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.05);
	border: 2px groove #eeede0;
	font-weight: bold;
}

.space1889 .items-list .items-header > * {
	font-size: 12px;
	text-align: center;
}

.space1889 .items-list .item > * {
	font-size: 12px;
	text-align: center;
}

.space1889 .items-list .items-header .item-name {
	padding-left: 5px;
	text-align: left;
}

.space1889 .item-formula {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 200px;
	flex: 0 0 200px;
	padding: 0 8px;
}

.space1889 .effects .item .effect-source,
.space1889 .effects .item .effect-duration,
.space1889 .effects .item .effect-controls {
	text-align: center;
	border-left: 1px solid #c9c7b8;
	border-right: 1px solid #c9c7b8;
	font-size: 12px;
}

.space1889 .effects .item .effect-controls {
	border: none;
}

.space1889 .dice-image {
	background-image: url("../../icons/svg/dice-target.svg");
}

.space1889 .item-small{
	font-size: 10px;
}

.space1889 .item-bold13{
	font-size: 13px;
	font-weight: bold;
}

.space1889 .edit-special {
	min-height: 30px;
}

.tox.tox-tinymce {
	min-height: 300px;
	resize: vertical;
}

