<div class="flex-fix-height">
	<ol class="items-list">
		<li class="item flexrow items-header">
			<div class="item-name ">
				{{localize "SPACE1889.MoneyTypeMoney"}}&#160;
				<a class="open-compendium" data-tooltip="{{localize 'SPACE1889.CompendiumFolderNameEarthMoney'}} {{localize 'SPACE1889.OpenCompendium'}}" data-pack="space1889.gelderde"><i class="far fa-external-link-square"></i></a>&#160;
				<a class="open-compendium" data-tooltip="{{localize 'SPACE1889.CompendiumFolderNameMartianMoney'}} {{localize 'SPACE1889.OpenCompendium'}}" data-pack="space1889.geldmars"><i class="far fa-external-link-square"></i></a>
			</div>
			<div class="items-name item-max-with60px ">{{localize "SPACE1889.Quantity"}}</div>
			<div class="items-name item-max-with60px ">{{localize "SPACE1889.ExchangeValue"}}</div>
			<div class="item-controls item-max-with50px">
				<a class="item-control item-create item-max-with50px" data-tooltip='{{localize "SPACE1889.CreateItem"}}' data-type="currency"><i class="fas fa-plus"></i> Add</a>
			</div>
		</li>
		{{#each system.money as |item id|}}
		<li class="item row-section flexrow" data-item-id="{{item._id}}">
			<div class="item-name" data-tooltip="{{fullItemToolTipDescription item}}" data-tooltip-direction="LEFT">
				<h4 for="" class="rollable" data-roll-type="item" data-label="{{item.name}}">{{item.system.abbr}}</h4>
			</div>
			<div class="items-list item-max-with60px">
				<a class="increment-click">{{item.system.quantity}}</a>
			</div>
			<label class="items-list item-max-with60px">{{item.system.exchangeValue}}</label>
			<div class="item-controls item-max-with50px">
				<a class="item-control item-edit" data-tooltip="{{localize 'SPACE1889.EditItem'}}"><i class="fas fa-edit"></i></a>
				<a class="item-control item-delete" data-tooltip="{{localize 'SPACE1889.DeleteItem'}}"><i class="fas fa-trash"></i></a>
			</div>
		</li>
		{{/each}}

	</ol>
</div>
