<li class="item flexrow items-header">
	<div class="resource flex-group-center">
		<label class="resource-label rollable" data-roll-key="defense" data-roll-type="actor" data-roll-diecount="{{data.secondaries.defense.total}}" data-label='{{localize "SPACE1889.SecondaryAttributeDef"}}'>{{localize "SPACE1889.SecondaryAttributeDef"}}: </label>
		<label class="items-list item-max-with60px">{{data.secondaries.defense.total}}</label>
	</div>
	<div class="resource flex-group-center">
		<label title="{{data.block.info}}" class="resource-label rollable" data-roll-key="block" data-roll-type="actor" data-roll-diecount="{{data.block.value}}" data-label='{{localize "SPACE1889.Block"}}'>{{localize "SPACE1889.Block"}}: </label>
		<label class="items-list item-max-with60px">{{data.block.value}}</label>
	</div>
	<div class="resource flex-group-center">
		<label title="{{data.parry.info}}" class="resource-label rollable" data-roll-key="parry" data-roll-type="actor" data-roll-diecount="{{data.parry.value}}" data-label='{{localize "SPACE1889.Parry"}}'>{{localize "SPACE1889.Parry"}}: </label>
		<label class="items-list item-max-with60px">{{data.parry.value}}</label>
	</div>
	<div class="resource flex-group-center">
		<label title="{{data.evasion.info}}" class="resource-label rollable" data-roll-key="evasion" data-roll-type="actor" data-roll-diecount="{{data.evasion.value}}" data-label='{{localize "SPACE1889.Evasion"}}'>{{localize "SPACE1889.Evasion"}}: </label>
		<label class="items-list item-max-with60px">{{data.evasion.value}}</label>
	</div>
</li>

