<li class="item flexrow items-header">
	<div class="resource flex-group-center">
		<label class="resource-label rollable" data-roll-key="LightLoad" data-roll-type="actorinfo" data-label='{{localize "SPACE1889.LightLoad"}}'>{{localize "SPACE1889.LightLoad"}}: </label>
	</div>
	<div class="resource flex-group-center">
		<label class="resource-label rollable" data-roll-key="MediumLoad" data-roll-type="actorinfo" data-label='{{localize "SPACE1889.MediumLoad"}}'>{{localize "SPACE1889.MediumLoad"}}: </label>
	</div>
	<div class="resource flex-group-center">
		<label class="resource-label rollable" data-roll-key="HavyLoad" data-roll-type="actorinfo" data-label='{{localize "SPACE1889.HavyLoad"}}'>{{localize "SPACE1889.HavyLoad"}}: </label>
	</div>
	<div class="resource flex-group-center">
		<label class="resource-label rollable" data-roll-key="MaxLoad" data-roll-type="actorinfo" data-label='{{localize "SPACE1889.MaxLoad"}}'>{{localize "SPACE1889.MaxLoad"}}: </label>
	</div>
</li>
<li class="item row-section flexrow">
	<label class="items-list flex-group-center">{{system.load.lightLoad}}kg</label>
	<label class="items-list flex-group-center">{{system.load.mediumLoad}}kg</label>
	<label class="items-list flex-group-center">{{system.load.havyLoad}}kg</label>
	<label class="items-list flex-group-center">{{system.load.maxLoad}}kg</label>
</li>

<hr>

<ol class="items-list ">
	<li class="item flexrow items-header">
		<div class="item-name item-max-with75px">{{localize "SPACE1889.StorageLocation"}}</div>
		<div class="items-name item-max-with75px">{{localize "SPACE1889.Weight"}}</div>
		<div class="items-name item-max-with75px">{{localize "SPACE1889.Level"}}</div>
		<div class="items-name flex-group-center">{{localize "SPACE1889.Consequence"}}</div>
	</li>
	<li class="flexrow item">
		<label class=" item-max-with75px">{{localize "SPACE1889.StorageLocationKoerper"}}</label>
		<label data-tooltip='{{localize "SPACE1889.BodyLoadTooltip" gravity=system.gravity.gravityFactor}}' data-tooltip-direction="RIGHT" class=" item-max-with75px">{{system.load.bodyLoad}}kg</label>
		<label class=" item-max-with75px">{{localize system.load.bodyLoadLevel}}</label>
		<label class=" flex-group-center">{{localize system.load.bodyLoadConsequence}}</label>
	</li>
	<li class="item row-section flexrow">
		<label class="item-max-with75px">{{localize "SPACE1889.LoadingLevel"}}</label>
		<label data-tooltip='{{localize "SPACE1889.LoadTooltip" gravity=system.gravity.gravityFactor backpackLoad=system.load.backpackLoad}}' data-tooltip-direction="RIGHT" class="item-max-with75px">{{system.load.bodyAndBackpackLoad}}kg</label>
		<label class="item-max-with75px">{{localize system.load.bodyAndBackpackLoadLevel}}</label>
		<label class="flex-group-center">{{localize system.load.bodyAndBackpackLoadConsequence}}</label>
	</li>
	<li class="flexrow item">
		<label class=" item-max-with75px">{{localize "SPACE1889.StorageLocationLager"}}</label>
		<label class=" item-max-with75px">{{system.load.storageLoad}}kg</label>
		<label class=" item-max-with75px"></label>
		<label class=" flex-group-center"></label>
	</li>
</ol>

