<ol class="items-list">
	<li class="item flexrow items-header">
		<div class="item-name">{{localize 'SPACE1889.EffectPl'}}</div>
		<div class="items-list item-max-with100px">{{localize 'SPACE1889.EffectStartTime'}}</div>
		<div class="items-list item-max-with100px">{{localize 'SPACE1889.EffectDuration'}}</div>
		<div class="item-controls item-max-with50px">
			{{#if @root.editable}}
			<a class="effect-control item-control item-create item-max-with50px" data-action="create" data-tooltip="{{localize 'SPACE1889.EffectCreate'}}">
				<i class="fas fa-plus"></i> Add
			</a>
			{{/if}}
		</div>
	</li>

	{{#each document.effects as |effect|}}
	<li class="item row-section flexrow" data-effect-id="{{effect.id}}">
		<div class="item-name" data-tooltip="{{fullEffectToolTipDescription effect}}" data-tooltip-direction="RIGHT">
			<img class="item-image-small" src="{{getEffectImagePath effect}}" />
			{{#if (isFvttV10 " ")}}
				<h4>{{effect.label}}</h4>
			{{else}}
				<h4>{{effect.name}}</h4>
			{{/if}}
		</div>
		<div class="items-list item-max-with100px">{{formatEffectDuration effect.duration}}</div>
		<div class="items-list item-max-with100px">{{effect.duration.label}}</div>
		<div class="item-controls item-max-with50px">
			<a class="effect-control" data-action="edit" data-tooltip="{{localize 'SPACE1889.EffectEdit'}}">
				<i class="fas fa-edit"></i>
			</a>
			<a class="effect-control" data-action="delete" data-tooltip="{{localize 'SPACE1889.EffectDelete'}}">
				<i class="fas fa-trash"></i>
			</a>
		</div>
	</li>
	{{/each}}
</ol>
