{{#if data.movementType}}
<div class="resource">
	<label class="resource-label">{{ localize "SPACE1889.LanguageOrigin" }}: </label>
	<select name="data.origin" data-dtype="String">
		{{#select data.origin}}
		{{#each data.origins as |ch char|}}
		<option value="{{char}}">{{localize ch}}</option>
		{{/each}}
		{{/select}}
	</select>
</div>
{{else}}
<div style="display: grid; grid-template-columns: 40% 3% 57%; grid-template-rows: 25% 25% 25% 25%;">
	<div class="item flex-group-center flexrow" style="grid-row: 1 / span 1; grid-column: 1 / span 1;">
		<label class="resource-label">{{localize "SPACE1889.Height"}}</label>
		<div class="resource-content flex-center flex-between">
			<input type="text" name="data.height" value="{{data.height}}" />
		</div>
	</div>
	<div class="item flex-group-center flexrow" style="grid-row: 2 / span 1; grid-column: 1 / span 1;">
		<label class="resource-label">{{localize "SPACE1889.Weight"}}</label>
		<div class="resource-content flex-center flex-between">
			<input type="text" name="data.weight" value="{{data.weight}}" />
		</div>
	</div>
	<div class="item flex-group-center flexrow" style="grid-row: 3 / span 1; grid-column: 1 / span 1;">
		<label class="resource-label">{{localize "SPACE1889.Age"}}</label>
		<div class="resource-content flex-center flex-between">
			<input type="text" name="data.age" value="{{data.age}}" />
		</div>
	</div>
	<div class="item flex-group-center flexrow" style="grid-row: 4 / span 1; grid-column: 1 / span 1;">
		<label class="resource-label">{{localize "SPACE1889.DateOfBirth"}}</label>
		<div class="resource-content flex-center flex-between">
			<input type="text" name="data.dateOfBirth" value="{{data.dateOfBirth}}" />
		</div>
	</div>
	<div class="flex-group-center" grid-row-start="2" style="grid-row: 1 / span 4; grid-column: 3 / span 1;">

		{{> "systems/space1889/templates/actor/parts/actor-currency.html"}}

	</div>
</div>
	{{/if}}
<div class="tab" data-group="primary" data-tab="biography">
	{{editor content=data.biography target="data.biography" rollData=rollData button=true owner=owner editable=editable}}
</div>
