{{#if system.injuries}}
<ol class="items-list">
	<li class="item flexrow items-header">
		<div class="item-name">{{localize "SPACE1889.InjuryPl"}}&#160;
			<a class="rerender-click" data-tooltip="{{localize "SPACE1889.RefreshHealingTime"}}"> <i class="fa fa-medkit" aria-hidden="true"></i></a></div>
		<div data-tooltip='{{localize "SPACE1889.DataOfTheEvent"}}' class="items-list item-max-with75px">{{localize "SPACE1889.DataOfTheEventAbbr"}}</div>
		<div data-tooltip='{{localize "SPACE1889.Damage"}}' class="items-list item-max-with60px">{{localize "SPACE1889.Damage"}}</div>
		<div data-tooltip='{{localize "SPACE1889.HealingFactor"}}' class="items-list item-max-with40px">{{localize "SPACE1889.HealingFactorAbbr"}}</div>
		<div data-tooltip='{{localize "SPACE1889.HealingDuration"}}' class="items-list item-max-with60px">{{localize "SPACE1889.HealingDurationAbbr"}}</div>
		<div data-tooltip='{{localize "SPACE1889.TimeToNextCure"}}' class="items-list item-max-with60px">{{localize "SPACE1889.TimeToNextCureAbbr"}}</div>
		<div class="item-controls item-max-with60px">
			<a class="item-control item-create item-max-with60px damage-lethal" data-tooltip='{{localize "SPACE1889.CreateItem"}}' data-type="damage"><i class="fas fa-plus"></i> Add</a>
		</div>
	</li>
	{{#each system.injuries as |item id|}}
	<li class="item row-section flexrow" data-item-id="{{item._id}}">
		<div data-tooltip='{{item.system.tooltipInfo}}' data-tooltip-direction="LEFT" class="item-name">{{item.name}}</div>
		<label data-tooltip='{{item.system.tooltipInfo}}' data-tooltip-direction="LEFT" class="items-list item-max-with75px">{{item.system.dataOfTheEvent}}</label>
		<div data-tooltip='{{item.system.tooltipInfo}}' class="resource-label items-list item-max-with60px">
			<a class="increment-click items-list item-max-with60px">{{item.system.remainingDamage}} {{item.system.damageTypeDisplay}}</a>
		</div>
		<div class="items-list item-max-with40px">
			<a class="healingFactor-click items-list item-max-with40px">{{item.system.healingFactor}}</a>
		</div>
		<label class="items-list item-max-with60px">{{item.system.healingDuration}}</label>
		<label class="items-list resource-label item-max-with60px">{{item.system.timeToNextCure}}</label>
		<div class="item-controls item-max-with60px">
			<a class="item-control item-edit" data-tooltip="Edit Item"><i class="fas fa-edit"></i></a>
			<a class="item-control item-delete" data-tooltip="Delete Item"><i class="fas fa-trash"></i></a>
		</div>
	</li>
	{{/each}}

</ol>
{{/if}}