<div class="flex-fix-height">
	<ol class="items-list">
		<li class="item flexrow items-header">
			<div class="item-name ">{{localize "SPACE1889.MoneyTypeMoney"}}</div>
			<div class="items-name item-max-with60px ">{{localize "SPACE1889.Quantity"}}</div>
			<div class="items-name item-max-with60px ">{{localize "SPACE1889.ExchangeValue"}}</div>
			<div class="item-controls item-max-with60px">
				<a class="item-control item-create item-max-with60px" title='{{localize "SPACE1889.CreateItem"}}' data-type="currency"><i class="fas fa-plus"></i> Add</a>
			</div>
		</li>
		{{#each system.money as |item id|}}
		<li class="item row-section flexrow" data-item-id="{{item._id}}">
			<div class="item-name">
				<h4 for="" class="rollable" data-roll-type="item" data-label="{{item.name}}" title="{{item.system.label}}">{{item.system.abbr}}</h4>
			</div>
			<div class="items-list item-max-with60px">
				<a class="increment-click">{{item.system.quantity}}</a>
			</div>
			<label class="items-list item-max-with60px">{{item.system.exchangeValue}}</label>
			<div class="item-controls item-max-with60px">
				<a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
				<a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
			</div>
		</li>
		{{/each}}

	</ol>
</div>
