<div class="item flex-group-center flexrow">
	<label class="resource-label">{{localize "SPACE1889.Height"}}</label>
	<div class="resource-content flex-center flex-between">
		<input type="text" name="data.height" value="{{data.height}}" />
	</div>
</div>
<div class="item flex-group-center flexrow">
	<label class="resource-label">{{localize "SPACE1889.Weight"}}</label>
	<div class="resource-content flex-center flex-between">
		<input type="text" name="data.weight" value="{{data.weight}}"/>
	</div>
</div>
<div class="item flex-group-center flexrow">
	<label class="resource-label">{{localize "SPACE1889.Age"}}</label>
	<div class="resource-content flex-center flex-between">
		<input type="text" name="data.age" value="{{data.age}}"/>
	</div>
</div>
<div class="item flex-group-center flexrow">
	<label class="resource-label">{{localize "SPACE1889.DateOfBirth"}}</label>
	<div class="resource-content flex-center flex-between">
		<input type="text" name="data.dateOfBirth" value="{{data.dateOfBirth}}"/>
	</div>
</div>


<div class="tab" data-group="primary" data-tab="biography">
	{{editor content=data.biography target="data.biography" rollData=rollData button=true owner=owner editable=editable}}
</div>