{{#if (not system.visualisation.compressedItems)}}
{{#each system.gear as |item id|}}
{{#if (and (eq item.system.containerId null) (ne item.type "vision") (ne item.type "lightSource"))}}

	<li class="item row-section flexrow" data-item-id="{{item._id}}">
		<div data-tooltip="{{fullItemToolTipDescription item}}" data-tooltip-direction="RIGHT" class="item-name">
			<img class="item-image-small-fix-ratio" src="{{item.img}}" />
			<div data-tooltip="{{fullItemToolTipDescription item}}" class="item-name">
				<h4 for="" class="rollable" data-roll-type="item" data-label="{{item.name}}">{{item.system.label}}</h4>
			</div>
		</div>
		<div class="items-list item-max-with40px">
			<a class="increment-click">{{item.system.quantity}}</a>
		</div>
		<label class="items-list item-max-with60px">{{item.system.weight}}kg</label>
		<div class="items-list item-max-with40px">
			<a data-tooltip='{{item.system.locationLong}}' class="location-click">{{item.system.display}}</a>
		</div>
		<div class="item-controls item-max-with50px">
			<a class="item-control item-edit" data-tooltip='{{localize "SPACE1889.EditItemWithName" name=item.system.label}}'><i class="fas fa-edit"></i></a>
			<a class="item-control item-delete" data-tooltip='{{localize "SPACE1889.DeleteItemWithName" name=item.system.label}}'><i class="fas fa-trash"></i></a>
		</div>
	</li>

{{/if}}
{{/each}}
{{/if}}
