{{#if system.weaknessLeft}}
<ol class="items-list">
	<li class="item flexrow items-header">
		<div class="item-name">{{localize "SPACE1889.WeaknessPl"}}</div>
		<div class="item-controls item-max-with60px">
			<a class="item-control item-create item-max-with60px" data-tooltip="Create item" data-type="weakness"><i class="fas fa-plus"></i> Add</a>
		</div>
	</li>

	<section style="display: grid; grid-template-columns: 49% 2% 49%; ">
		<div class="left flexcol" style="grid-column: 1 / span 1">
			{{#each system.weaknessLeft as |item id|}}
			<li class="item flexrow" data-item-id="{{item._id}}">
				<div class="item-name" data-tooltip-direction="LEFT">
					<h4 class="rollable" data-roll-type="item" data-tooltip="{{#if (eq item.system.descriptionLangId (localize item.system.descriptionLangId))}} {{item.system.description}} {{else}} {{localize item.system.descriptionLangId}} {{/if}}">{{item.system.label}}</h4>
				</div>
				<div class="item-controls item-max-with60px">
					<a class="item-control item-edit" data-tooltip="Edit Item"><i class="fas fa-edit"></i></a>
					<a class="item-control item-delete" data-tooltip="Delete Item"><i class="fas fa-trash"></i></a>
				</div>
			</li>
		{{/each}}
		</div>
		<div class="right flexcol" style="grid-column: 3 / span 1">
			{{#each system.weaknessRight as |item id|}}
			<li class="item flexrow" data-item-id="{{item._id}}">
				<div class="item-name" data-tooltip-direction="LEFT">
					<h4 class="rollable" data-roll-type="item" data-tooltip="{{#if (eq item.system.descriptionLangId (localize item.system.descriptionLangId))}} {{item.system.description}} {{else}} {{localize item.system.descriptionLangId}} {{/if}}">{{item.system.label}}</h4>
				</div>
				<div class="item-controls item-max-with60px">
					<a class="item-control item-edit" data-tooltip="Edit Item"><i class="fas fa-edit"></i></a>
					<a class="item-control item-delete" data-tooltip="Delete Item"><i class="fas fa-trash"></i></a>
				</div>
			</li>
		{{/each}}
		</div>
	</section>

</ol>
{{/if}}