{{!-- Sheet Header --}}
<header class="sheet-header" style="min-height: 110px">
	<img class="profile-img artwork" src="{{document.img}}" data-edit="img" data-action="editImage" data-tooltip="{{document.name}}" height="100" width="100"/>
	<div class="header-fields">
		<h2 class="charname"><input name="name" type="text" value="{{document.name}}" placeholder="Name" /></h2>
		<li class="flexrow">
			<label for="system.style.value" class="resource-label item-right">{{localize "SPACE1889.ResourceTiergefaehrte"}}</label>
			<a class="increment-animalcompanionlevel-click resource-label item-name item-marginlr5px">{{system.animalCompanionLevel}}</a>
			<div data-tooltip="{{localize "SPACE1889.PowerEquivalentInXp"}}" class="item-small item-max-with40px item-margintb2px">{{localize "SPACE1889.PowerEquivalentInXpAbbr"}}:</div>
			<div class="item-small item-margintb2px">{{system.powerEquivalentInXp}} {{localize "SPACE1889.Xp"}}</div>
		</li>

		<div class="abilities flexcol items-list">
			<li class="item flexrow items-header">
				<div data-tooltip='{{otherToolTipDescription actor "Health"}}' data-tooltip-direction="LEFT" class="item-name item-max-with75px">{{localize "SPACE1889.Health"}}</div>
				<div class="items-list">{{localize "SPACE1889.Archetype"}}</div>
				<div class="items-list">{{localize "SPACE1889.MovementType"}}</div>
			</li>
			<li class="item flexrow">
				<div class="flexrow item-max-with75px">
					<div style="display: grid; grid-template-columns: 47% 5% 48%; grid-template-rows: 100%;">
						<div class="item-margintb2px item-right">
							<a class="item-create item-margintb2px" align="right" data-tooltip='{{localize "SPACE1889.InfoAddDamage"}}' data-type="damage">{{system.health.value}}</a>
						</div>
						<div class="item-margintb2px"> / </div>
						<div class="item-margintb2px item-left">{{system.health.max}}</div>
					</div>
				</div>
				<div class="resource-content flexrow flex-center flex-between item-marginlr5px">
					<select name="system.archetype" data-dtype="String">
						{{selectOptions system.archetypes selected=system.archetype localize=true}}
					</select>
				</div>
				<div class="resource-content flexrow flex-center flex-between item-marginlr5px">
					<select name="system.movementType" data-dtype="String">
						{{selectOptions system.movementTypes selected=system.movementType localize=true}}
					</select>
				</div>
			</li>
		</div>
	</div>
</header>

