<div>
	{{> "systems/space1889/templates/actor/parts/actor-load.html"}}
</div>
<hr>
<div>
	{{> "systems/space1889/templates/actor/parts/actor-defenseblock.html"}}
</div>
<div>
	{{> "systems/space1889/templates/actor/parts/actor-sub-weapons.html"}}
</div>
<div>
	{{> "systems/space1889/templates/actor/parts/actor-ammunitions.html"}}
</div>
<div>
	{{> "systems/space1889/templates/actor/parts/actor-armors.html"}}
</div>
<div>
	{{> "systems/space1889/templates/actor/parts/actor-damage.html"}}
</div>
<div>
	{{> "systems/space1889/templates/actor/parts/actor-effects.html"}}
</div>
<div>
	{{> "systems/space1889/templates/actor/parts/actor-sub-items.html"}}
</div>


