<header class="sheet-header" style="min-height: 125px">
	<img class="profile-img artwork" src="{{document.img}}" data-edit="img" data-action="editImage" data-tooltip="{{document.name}}" height="100" width="100" />
	<div class="header-fields">
		<h2 class="charname"><input name="name" type="text" value="{{document.name}}" placeholder="Name" /></h2>
		<div class="abilities flexcol items-list">
			<li class="item flexrow items-header">
				<div class="item-list">{{localize "SPACE1889.Species"}}</div>
				<div class="items-list">{{localize "SPACE1889.Archetype"}}</div>
			</li>
			<li class="item flexrow">
				<div class="resource-content flexrow flex-center flex-between item-name item-marginlr5px item-small">
					<select name="system.attributes.species.value" data-dtype="String">
						{{selectOptions system.species selected=system.attributes.species.value valueAttr="key" labelAttr="label"}}
					</select>
				</div>
				<div class="resource-content flexrow flex-center flex-between item-name item-marginlr5px item-small">
					<select name="system.attributes.archetype.value" data-dtype="String">
						{{selectOptions system.archetypes selected=system.attributes.archetype.value valueAttr="key" labelAttr="label"}}
					</select>
				</div>
			</li>
		</div>

		<div class="abilities flexcol items-list">
			<li class="item flexrow items-header">
				<div class="items-list">{{localize "SPACE1889.Motivation"}}</div>
				<div data-tooltip='{{otherToolTipDescription actor "Health"}}' data-tooltip-direction="LEFT" class="item-name item-max-with75px">{{localize "SPACE1889.Health"}}</div>
				<div data-tooltip='{{otherToolTipDescription actor "Style"}}' data-tooltip-direction="LEFT" class="items-list item-max-with40px">{{localize "SPACE1889.Style"}}</div>
				<div data-tooltip='{{localize "SPACE1889.PowerEquivalentInXp"}}' class="items-list item-max-with40px">{{localize "SPACE1889.PowerEquivalentInXpAbbr"}}</div>
			</li>
			<li class="item flexrow">
				<div class="resource-content flexrow flex-center flex-between item-name item-marginlr5px">
					<select name="system.attributes.motivation.value" data-dtype="String">
						{{selectOptions system.motivations selected=system.attributes.motivation.value valueAttr="key" labelAttr="label"}}
					</select>
				</div>
				<div class=" flexrow item-max-with75px">
					<div style="display: grid; grid-template-columns: 45% 10% 45%; grid-template-rows: 100%;">
						<div class="item-margintb2px item-right">
							<a class="item-create item-margintb2px" align="right" data-tooltip='{{localize "SPACE1889.InfoAddDamage"}}' data-type="damage">{{system.health.value}}</a>
						</div>
						<div class="item-margintb2px"> / </div>
						<div class="item-margintb2px item-left">{{system.health.max}}</div>
					</div>
				</div>
				<div class="item-max-with40px">
					<a class="increment-style-click">{{system.style.value}}</a>
				</div>
				<div class="item-max-with40px">{{system.powerEquivalentInXp}}</div>
			</li>
		</div>
		{{#if (ne system.load.dexAndMoveMalus 0)}}
		<div class="resource flex-group-center">
			<i class="fas fa-weight-hanging fa-beat" data-tooltip="{{localize "SPACE1889.Overloaded"}}! <br/> {{localize system.load.bodyAndBackpackLoadConsequence}}"></i>
		</div>
		{{/if}}
	</div>
</header>
