{{#if (isGm " ")}}
<hr>
<div title="{{localize "SPACE1889.GmNotesInfo"}}" style="max-height:18px">
	<b>{{localize "SPACE1889.GmNotes"}}</b>
</div>
<div class="prosemirror" data-attr="system.notes.gmInfo" data-name="GmNotes">
	{{editor enrichedGmNotes target="system.notes.gmInfo" button=true editable=editable engine="prosemirror"}}
</div>
{{/if}}
<hr>
<div title="{{localize "SPACE1889.PlayerNotesInfo"}}" style="max-height:18px">
	<b>{{localize "SPACE1889.PlayerNotes"}}</b>
</div>
<div class="prosemirror" data-attr="system.notes.value" data-name="Notes">
	{{editor enrichedNotes target="system.notes.value" button=true editable=editable engine="prosemirror"}}
</div>
<hr>
