{{!-- Sheet Header --}}
<header class="sheet-header" style="min-height: 120px">
	<img class="profile-img artwork" src="{{document.img}}" data-edit="img" data-action="editImage" data-tooltip="SPACE1889.ImageTooltip" height="150" width="150"/>
	<div class="header-fields">
		<h2 class="charname"><input name="name" type="text" value="{{document.name}}" placeholder="Name" /></h2>
		<h4 class="resource-content flex-center flex-between">
			<input type="text" name="system.typeOrClass" value="{{system.typeOrClass}}" placeholder="{{localize "SPACE1889.VehicleTypeOrClass"}}"/>
		</h4>

		<div class="abilities flexcol items-list">
			<li class="item flexrow items-header flex-group-center">
				<div class="item item-max-with60px">{{localize "SPACE1889.VehicleStructure"}}</div>
				<div class="item item-max-with75px">{{localize "SPACE1889.Speed"}}</div>
				<div class="item item-max-with100px">{{localize "SPACE1889.VehicleManeuverability"}}</div>
				<div class="item item-max-with75px" data-tooltip="{{localize "SPACE1889.PassiveDefense"}} - {{localize "SPACE1889.ClickToRoll"}}">
					<label class="resource-label rollable" data-roll-key="passiveDefense" data-roll-type="actor" data-roll-diecount="{{system.passiveDefense}}" data-label='{{localize "SPACE1889.PassiveDefense"}}'>{{localize "SPACE1889.PassiveDefenseAbbr"}}</label>
				</div>
				<div class="item-name item-max-with60px">{{localize "SPACE1889.SecondaryAttributeSiz"}}</div>
			</li>
			<li class="item flexrow flex-group-center">
				<div class="flexrow item-max-with60px">
					<div style="display: grid; grid-template-columns: 45% 10% 45%; grid-template-rows: 100%;">
						<div class="item-margintb2px item-right">
							<a class="item-create item-margintb2px" align="right" data-tooltip='{{localize "SPACE1889.InfoAddDamage"}}' data-type="damage">{{system.health.value}}</a>
						</div>
						<div class="item-margintb2px"> / </div>
						<div class="item-margintb2px item-left">
							<a class="increment-structure-max-click">{{system.health.max}}</a>
						</div>
					</div>
				</div>
				<div class="flexrow item-max-with75px">
					<div style="display: grid; grid-template-columns: 45% 10% 45%; grid-template-rows: 100%;">
						<div class="item-margintb2px item-right">{{system.speed.value}}</div>
						<div class="item-margintb2px"> / </div>
						<div class="item-margintb2px item-left">
							<a class="increment-speed-max-click">{{system.speed.max}}</a>
						</div>
					</div>
				</div>
				<div class="flexrow item-max-with100px">
					<div style="display: grid; grid-template-columns: 45% 10% 45%; grid-template-rows: 100%;">
						<div class="item-margintb2px item-right">{{system.maneuverability.value}}</div>
						<div class="item-margintb2px"> / </div>
						<div class="item-margintb2px item-left">
							<a class="increment-maneuverability-max-click">{{system.maneuverability.max}}</a>
						</div>
					</div>
				</div>
				<div class="flexrow item-max-with75px">
					<div style="display: grid; grid-template-columns: 45% 10% 45%; grid-template-rows: 100%;">
						<div class="item-margintb2px item-right">{{derived.secondaries.defense.passiveTotal}}</div>
						<div class="item-margintb2px"> / </div>
						<div class="item-margintb2px item-left">
							<a class="increment-passiveDefense-click">{{system.passiveDefense}}</a>
						</div>
					</div>
				</div>
				<div class="flexrow item-max-with60px">
					<div class="item-margintb2px">
						<a class="increment-vehicleSize-click">{{system.size}}</a>
					</div>
				</div>
			</li>
		</div>
	</div>
</header>

