<div style="display: grid; grid-template-columns: 48% 4% 48%; grid-template-rows: 50% 50%;">
	<div class="item flex-group-center flexrow" style="grid-row: 1 / span 1; grid-column: 1 / span 1;">
		<label class="resource-label">{{localize "SPACE1889.SecondaryAttributeSiz"}}</label>
		<div class="resource-content flex-center flex-between">
			<input type="text" name="system.size" value="{{system.size}}" />
		</div>
	</div>
	<div class="item flex-group-center flexrow" style="grid-row: 2 / span 1; grid-column: 1 / span 1;">
		<label class="resource-label">{{localize "SPACE1889.Weight"}}</label>
		<div class="resource-content flex-center flex-between">
			<input type="text" name="system.weight2" value="{{system.weight2}}" />
		</div>
	</div>

	<div class="item flex-group-center flexrow" style="grid-row: 1 / span 1; grid-column: 3 / span 1;">
		<label class="resource-label">{{localize "SPACE1889.Price"}}</label>
		<div class="resource-content flex-center flex-between">
			<input type="text" name="system.price" value="{{system.price}}" />
		</div>
	</div>
	<div class="item flex-group-center flexrow" style="grid-row: 2 / span 1; grid-column: 3 / span 1;">
		<li class="flexrow">
			<div class="resource-label">{{localize "SPACE1889.VehiclePassenger"}}</div>

			<div style="display: grid; grid-template-columns: 45% 10% 45%; grid-template-rows: 100%;">
				<div class="item-margintb2px item-right">
					<a class="increment-passenger-current-click item-margintb2px" align="right" data-type="passenger">{{system.passenger.value}}</a>
				</div>
				<div class="item-margintb2px"> / </div>
				<div class="item-margintb2px item-left">
					<a class="increment-passenger-max-click">{{system.passenger.max}}</a>
				</div>
			</div>
		</li>
	</div>
</div>
<div class="tab" data-group="primary" data-tab="biography">
	{{editor content=system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
</div>
