<form>
<header class="sheet-header">
	<div class="header-fields">
		<h2 class="charname"><input name="name" type="text" value="{{document.name}}" placeholder="Name" /></h2>
	</div>
	<div style="width: 100%; margin-bottom:10px">
		<img class="imit-profile-img artwork" src="{{document.img}}" data-tooltip="{{document.name}}" style="object-fit: contain; width:95%; object-position:top" />
	</div>
</header>
<div>
	<li class="item flex-group-left flexrow">
		<div class="resource-label" data-tooltip="{{localize "SPACE1889.PlayerNotesLimited"}}">
			{{localize "SPACE1889.PlayerNotes"}}
		</div>
	
		<div class="resource-label keepFieldsEnabled" data-application-part="notes" data-attr="system.notes.value" data-name="Notes">
			<a class="editor" data-tooltip="{{localize "SPACE1889.PlayerNotesEdit"}}"></a>
		</div>
	</li>
	{{{ enrichedNotes }}}
</div>
</form>
