<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

	{{!-- Sheet Header --}}
	<header class="sheet-header">
		<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
		<div class="header-fields">
			<h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
			{{!-- The grid classes are defined in scss/global/_grid.scss. To use,
			use both the "grid" and "grid-Ncol" class where "N" can be any number
			from 1 to 12 and will create that number of columns.  --}}
			<div class="resources grid grid-4col">

				{{!-- "flex-group-center" is also defined in the _grid.scss file
				and it will add a small amount of padding, a border, and will
				center all of its child elements content and text. --}}
				<div class="resource flex-group-center">
					<label for="data.health.value" class="resource-label rollable" data-roll-key="health" data-roll-type="actorinfo" data-label='{{localize "SPACE1889.Health"}}'>{{localize "SPACE1889.Health"}}</label>
					<div class="resource-content flexrow item-max-with75px">
						<div style="display: grid; grid-template-columns: 40% 20% 40%; grid-template-rows: 100%;">
							<div class="item-margintb4px item-right">
								<a class="item-create item-margintb4px" align="right" title='{{localize "SPACE1889.InfoAddDamage"}}' data-type="damage">{{data.health.value}}</a>
							</div>
							<div class="item-margintb4px"> / </div>
							<div class="item-margintb4px item-left">{{data.health.max}}</div>
						</div>
					</div>


				</div>

				<div class="resource flex-group-center">
					<label for="data.style.value" class="resource-label rollable" data-roll-key="style" data-roll-type="actorinfo" data-label='{{localize "SPACE1889.Style"}}'>{{localize "SPACE1889.Style"}}</label>
					<div class="resource-content flexrow flex-center flex-between">
					<input type="text" name="data.style.value" value="{{data.style.value}}" data-dtype="Number"/>
					</div>
				</div>

				<div class="resource flex-group-center">
					<label for="data.attributes.xp.value" class="resource-label rollable" data-roll-key="xp" data-roll-type="actorinfo" data-label='{{localize "SPACE1889.Xp"}}'>{{localize "SPACE1889.Xp"}}</label>
					<div class="resource-content flexrow flex-center flex-between">
					<input type="text" name="data.attributes.xp.value" value="{{data.attributes.xp.value}}" data-dtype="Number"/>
					</div>
				</div>

				<div class="resource flex-group-center">
					<label for="data.attributes.xp.used">used {{localize "SPACE1889.Xp"}}</label>
					<div class="resource-content flexrow flex-center flex-between">
						<div title='verfügbar sind: {{data.attributes.xp.available}}{{localize "SPACE1889.Xp"}}' class="resource flex-group-center item-margin5px">{{data.attributes.xp.used}}</div>
					</div>
				</div>

			</div>
		</div>
	</header>

	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		{{!-- Default tab is specified in actor-sheet.mjs --}}
		<a class="item" data-tab="abilities">{{localize "SPACE1889.AbilityPl"}}</a>
		<a class="item" data-tab="skills">{{localize "SPACE1889.SkillPl"}}</a>
		<a class="item" data-tab="talents">{{localize "SPACE1889.TalentPl"}}</a>
		<a class="item" data-tab="items">{{localize "SPACE1889.ItemPl"}}</a>
		<a class="item" data-tab="weapons">{{localize "SPACE1889.WeaponPl"}}</a>
		<a class="item" data-tab="biography">{{localize "SPACE1889.BiographyAbbr"}}</a>
	{{!--	<a class="item" data-tab="effects">Effects</a>  --}}
	</nav>

	{{!-- Sheet Body --}}
	<section class="sheet-body">
		{{!-- Biography Tab --}}
		<div class="tab abilities" data-group="primary" data-tab="abilities">
			<li class="item flex-group-center flexrow">
				<div class="resource">
					<label class="resource-label">{{ localize "SPACE1889.Species" }}</label>
					<select name="data.attributes.species.value" data-dtype="String">
						{{#select data.attributes.species.value}}
							{{#each data.species as |ch char|}}
							<option value="{{char}}">{{localize ch}}</option>
							{{/each}}
						{{/select}}
					</select>
				</div>
				<div class="resource">
					<label class="resource-label">{{ localize "SPACE1889.Archetype" }}</label>
					<select name="data.attributes.archetype.value" data-dtype="String">
						{{#select data.attributes.archetype.value}}
							{{#each data.archetypes as |ch char|}}
							<option value="{{char}}">{{localize ch}}</option>
							{{/each}}
						{{/select}}
					</select>
				</div>
				<div class="resource">
					<label class="resource-label">{{ localize "SPACE1889.Motivation" }}</label>
					<select name="data.attributes.motivation.value" data-dtype="String">
						{{#select data.attributes.motivation.value}}
							{{#each data.motivations as |ch char|}}
							<option value="{{char}}">{{localize ch}}</option>
							{{/each}}
						{{/select}}
					</select>
				</div>
			</li>

			<section class="grid grid-2col">
				{{!-- The grid classes are defined in scss/global/_grid.scss. To use,
				use both the "grid" and "grid-Ncol" class where "N" can be any number
				from 1 to 12 and will create that number of columns.  --}}
				<div class="abilities flexcol">
					<div class="items-header-center">{{localize "SPACE1889.Abilities"}}</div>
					<li class="item flexrow items-header">
						<div class="item-name ">{{localize "SPACE1889.Name"}}</div>
						<div title='{{localize "SPACE1889.Base"}}' class="items-list item-max-with40px">{{localize "SPACE1889.Base"}}</div>
						<div title='{{localize "SPACE1889.TalentBonus"}}' class="items-list item-max-with40px">{{localize "SPACE1889.Mod"}}</div>
						<div title='{{localize "SPACE1889.Rating"}}' class="items-list item-max-with42px">{{localize "SPACE1889.Rating"}}</div>
					</li>
					{{#each data.abilities as |ability key|}}
					<li class="flexrow">
						<label for="data.abilities.{{key}}.value" class="rollable flexlarge align-left" data-roll-key="{{key}}" data-roll-type="actor" data-roll-diecount="{{ability.total}}" data-label="{{ability.label}}">{{ability.label}}</label>
						<div class="item-max-with40px">
							<a class="increment-{{key}}-click">{{ability.value}}</a>
						</div>
						<label class="items-list item-max-with40px">{{ability.talentBonus}}</label>
						<label class="items-list item-max-with42px resource-label">{{ability.total}}</label>
					</li>
					{{/each}}
				</div>
				<div class="secondaries flexcol">
					<div class="items-header-center">{{localize "SPACE1889.SecondaryAttributes"}}</div>
					<li class="item flexrow items-header">
						<div class="item-name ">{{localize "SPACE1889.Name"}}</div>
						<div title='{{localize "SPACE1889.Base"}}' class="items-list item-max-with40px">{{localize "SPACE1889.Base"}}</div>
						<div title='{{localize "SPACE1889.TalentBonus"}}' class="items-list item-max-with40px">{{localize "SPACE1889.Mod"}}</div>
						<div title='{{localize "SPACE1889.Rating"}}' class="items-list item-max-with40px">{{localize "SPACE1889.Rating"}}</div>
					</li>
					{{#each data.secondaries as |secondary key|}}
					<li class="secondary flexrow">
						<label for="data.secondaries.{{key}}.value" class="rollable flexlarge align-left" data-roll-key="{{key}}" data-roll-type="actor" data-roll-diecount="{{secondary.total}}" data-label="{{secondary.label}}">{{secondary.label}}</label>
						<label class="items-list item-max-with40px">{{secondary.value}}</label>
						<label class="items-list item-max-with40px">{{secondary.talentBonus}}</label>
						<label class="items-list item-max-with40px resource-label">{{secondary.total}}</label>
					</li>
					{{/each}}
				</div>
			</section>
			<div>
				{{> "systems/space1889/templates/actor/parts/actor-weakness.html"}}
			</div>      
			<div>
				{{> "systems/space1889/templates/actor/parts/actor-language.html"}}
			</div>

		</div>

		{{!-- Owned Skills Tab --}}
		<div class="tab skills" data-group="primary" data-tab="skills">
			{{> "systems/space1889/templates/actor/parts/actor-skills.html"}}
		</div>

		{{!-- Owned Talents Tab --}}
		<div class="tab talents" data-group="primary" data-tab="talents">
			{{!-- For the main talents list, span the right two columns --}}
			<section class="main grid-span-2">
				{{!-- This is a Handlebars partial. They're stored in the `/parts` folder next to this sheet, and defined in module/helpers/templates.mjs --}}
				{{> "systems/space1889/templates/actor/parts/actor-talents.html"}}
			</section>

		</div>

		{{!-- Owned Items Tab --}}
		<div class="tab items" data-group="primary" data-tab="items">
			 {{> "systems/space1889/templates/actor/parts/actor-items.html"}}
		</div>

		{{!-- Owned Items Tab --}}
		<div class="tab weapons" data-group="primary" data-tab="weapons">
			 {{> "systems/space1889/templates/actor/parts/actor-weapons.html"}}
		</div>

		{{!-- Biography Tab --}}
		<div class="tab biography" data-group="primary" data-tab="biography">
			{{> "systems/space1889/templates/actor/parts/actor-biography.html"}}
		</div>

		{{!-- Active Effects Tab --}}
		{{!-- <div class="tab effects" data-group="primary" data-tab="effects"> --}}
		{{!--	{{> "systems/space1889/templates/actor/parts/actor-effects.html"}} 
		{{!-- </div> --}}
	</section>

</form>

