<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

	{{!-- Sheet Header --}}
	<header class="sheet-header">
		<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
		<div class="header-fields">
			<h2 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h2>
			<li class="flexrow">
				<label for="data.style.value" class="resource-label item-right">{{localize "SPACE1889.ResourceTiergefaehrte"}}</label>
				<a class="increment-animalcompanionlevel-click resource-label item-name item-marginlr5px">{{data.animalCompanionLevel}}</a>
				<div title="{{localize "SPACE1889.PowerEquivalentInXp"}}" class="item-small item-max-with40px item-margintb2px">{{localize "SPACE1889.PowerEquivalentInXpAbbr"}}:</div>
				<div class="item-small item-margintb2px">{{data.powerEquivalentInXp}} {{localize "SPACE1889.Xp"}}</div>
			</li>


			<div class="abilities flexcol items-list">
				<li class="item flexrow items-header">
					<div class="item-name item-max-with75px">{{localize "SPACE1889.Health"}}</div>
					<div class="items-list">{{localize "SPACE1889.Archetype"}}</div>
					<div class="items-list">{{localize "SPACE1889.MovementType"}}</div>
				</li>
				<li class="item flexrow">
					<div class="flexrow item-max-with75px">
						<div style="display: grid; grid-template-columns: 47% 5% 48%; grid-template-rows: 100%;">
							<div class="item-margintb2px item-right">
								<a class="item-create item-margintb2px" align="right" title='{{localize "SPACE1889.InfoAddDamage"}}' data-type="damage">{{data.health.value}}</a>
							</div>
							<div class="item-margintb2px"> / </div>
							<div class="item-margintb2px item-left">{{data.health.max}}</div>
						</div>
					</div>
					<div class="resource-content flexrow flex-center flex-between item-marginlr5px">
						<select name="data.archetype" data-dtype="String">
							{{#select data.archetype}}
							{{#each data.archetypes as |ch char|}}
							<option value="{{char}}">{{localize ch}}</option>
							{{/each}}
							{{/select}}
						</select>
					</div>
					<div class="resource-content flexrow flex-center flex-between item-marginlr5px">
						<select name="data.movementType" data-dtype="String">
							{{#select data.movementType}}
							{{#each data.movementTypes as |ch char|}}
							<option value="{{char}}">{{localize ch}}</option>
							{{/each}}
							{{/select}}
						</select>
					</div>
				</li>
			</div>
		</div>
	</header>

	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		{{!-- Default tab is specified in actor-sheet.mjs --}}
		<a class="item" data-tab="abilities">{{localize "SPACE1889.AbilityPl"}}</a>
		<a class="item" data-tab="biography">{{localize "SPACE1889.BiographyAbbr"}}</a>
	{{!--	<a class="item" data-tab="effects">Effects</a>  --}}
	</nav>

	{{!-- Sheet Body --}}
	<section class="sheet-body">
		{{!-- Biography Tab --}}
		<div class="tab abilities" data-group="primary" data-tab="abilities">
			<section class="grid grid-2col">
				{{!-- The grid classes are defined in scss/global/_grid.scss. To use,
				use both the "grid" and "grid-Ncol" class where "N" can be any number
				from 1 to 12 and will create that number of columns.  --}}
				<div class="abilities flexcol items-list">
					<div class="items-header-center">{{localize "SPACE1889.Abilities"}}</div>
					<li class="item flexrow items-header">
						<div class="item-name ">{{localize "SPACE1889.Name"}}</div>
						<div title='{{localize "SPACE1889.Base"}}' class="items-list item-max-with40px">{{localize "SPACE1889.Base"}}</div>
						<div title='{{localize "SPACE1889.TalentBonus"}}' class="items-list item-max-with40px">{{localize "SPACE1889.Mod"}}</div>
						<div title='{{localize "SPACE1889.Rating"}}' class="items-list item-max-with42px">{{localize "SPACE1889.Rating"}}</div>
					</li>
					{{#each data.abilities as |ability key|}}
					<li class="flexrow">
						<label for="data.abilities.{{key}}.value" class="rollable flexlarge align-left" data-roll-key="{{key}}" data-roll-type="actor" data-roll-diecount="{{ability.total}}" data-label="{{ability.label}}">{{ability.label}}</label>
						<div class="item-max-with40px">
							<a class="increment-{{key}}-click">{{ability.value}}</a>
						</div>
						<label class="items-list item-max-with40px">{{ability.talentBonus}}</label>
						<label class="items-list item-max-with42px resource-label">{{ability.total}}</label>
					</li>
					{{/each}}
				</div>
				<div class="secondaries flexcol items-list">
					<div class="items-header-center">{{localize "SPACE1889.SecondaryAttributes"}}</div>
					<li class="item flexrow items-header">
						<div class="item-name ">{{localize "SPACE1889.Name"}}</div>
						<div title='{{localize "SPACE1889.Base"}}' class="items-list item-max-with40px">{{localize "SPACE1889.Base"}}</div>
						<div title='{{localize "SPACE1889.TalentBonus"}}' class="items-list item-max-with40px">{{localize "SPACE1889.Mod"}}</div>
						<div title='{{localize "SPACE1889.Rating"}}' class="items-list item-max-with60px">{{localize "SPACE1889.Rating"}}</div>
					</li>
					<li class="flexrow">
						<label class="align-left">{{data.secondaries.size.label}}</label>
						<div class="item-max-with40px">
							<a class="increment-creaturesize-click">{{data.secondaries.size.value}}</a>
						</div>
						<label class="items-list item-max-with40px">{{data.secondaries.size.talentBonus}}</label>
						<label class="items-list item-max-with60px resource-label">{{data.secondaries.size.total}}</label>
					</li>
					<li class="flexrow">
						<label for="data.secondaries.move.value" class="rollable align-left" data-roll-key="move" data-roll-type="actor" data-roll-diecount="{{data.secondaries.move.total}}" data-label="{{data.secondaries.move.label}}">{{data.secondaries.move.label}}</label>
						<div class="item-max-with40px">
							<a class="increment-creaturesize-click">{{data.secondaries.move.value}}</a>
						</div>
						<label class="items-list item-max-with40px">{{data.secondaries.move.talentBonus}}</label>
						<label class="items-list item-max-with60px resource-label">{{data.secondaries.move.display}}</label>
					</li>
					{{#each data.secondaries as |secondary key|}}
					{{#if (ne key 'size')}}
					{{#if (ne key 'move')}}
					<li class="secondary flexrow">
						<label for="data.secondaries.{{key}}.value" class="rollable align-left" data-roll-key="{{key}}" data-roll-type="actor" data-roll-diecount="{{secondary.total}}" data-label="{{secondary.label}}">{{secondary.label}}</label>
						<label class="items-list item-max-with40px">{{secondary.value}}</label>
						<label class="items-list item-max-with40px">{{secondary.talentBonus}}</label>
						<label class="items-list item-max-with60px resource-label">{{secondary.total}}</label>
					</li>
					{{/if}}
					{{/if}}
					{{/each}}
				</div>
			</section>
			<div>
				{{> "systems/space1889/templates/actor/parts/actor-creature-skills.html"}}
			</div>      
			<div>
				{{> "systems/space1889/templates/actor/parts/actor-creature-talents.html"}}
			</div>
			<div>
				{{> "systems/space1889/templates/actor/parts/actor-creature-weapons.html"}}
			</div>
 			<div>
				{{> "systems/space1889/templates/actor/parts/actor-creature-weakness.html"}}
			</div>
			<div>
				{{> "systems/space1889/templates/actor/parts/actor-creature-damage.html"}}
			</div>
		</div>

		{{!-- Biography Tab --}}
		<div class="tab biography" data-group="primary" data-tab="biography">
			{{> "systems/space1889/templates/actor/parts/actor-biography.html"}}
		</div>

		{{!-- Active Effects Tab --}}
		{{!-- <div class="tab effects" data-group="primary" data-tab="effects"> --}}
		{{!--	{{> "systems/space1889/templates/actor/parts/actor-effects.html"}} 
		{{!-- </div> --}}
	</section>

</form>

