<div class="tab {{tabs.details.cssClass}}" data-tab="details" data-group="{{tabs.details.group}}">
	<div>
		<li class="item flexrow items-header">
			<label class="resource-label">{{localize "SPACE1889.Quantity"}}</label>
			<label class="resource-label">{{localize "SPACE1889.Weight"}}[kg]</label>
			<label class="resource-label">{{localize "SPACE1889.Price"}}</label>
		</li>
		<li class="item flex-group-center flexrow">
			<div class="resource-content flex-center flex-between">
				<input type="text" name="system.quantity" value="{{system.quantity}}" data-dtype="Number" />
			</div>
			<div class="resource-content flex-center flex-between">
				<input type="number" min="0" step="0.001" name="system.weight" value="{{system.weight}}" data-dtype="Number" />
			</div>
			<div class="resource-content flex-center flex-between">
				<input type="text" name="system.price" value="{{system.price}}" />
			</div>
		</li>

		<li class="item flexrow items-header">
			<label class="resource-label" data-tooltip="{{localize 'SPACE1889.RequiresHandsInfo'}}">{{localize "SPACE1889.RequiresHands"}}</label>
			<label class="resource-label" data-tooltip="{{localize 'SPACE1889.ProbabilityOfFailingInfo'}}">{{localize "SPACE1889.ProbabilityOfFailing"}}</label>
			<label class="resource-label" data-tooltip="{{localize 'SPACE1889.ProbabilityOfBreakingInfo'}}">{{localize "SPACE1889.ProbabilityOfBreaking"}}</label>
		</li>
		<li class="item flex-group-center flexrow">
			<div class="resource-content flex-center flex-between" data-tooltip="{{system.requiredHandsTooltip}}">
				<select name="system.requiredHands" data-dtype="String">
					{{selectOptions system.lightSourceHands selected=system.requiredHands labelAttr="id" localize=true}}
				</select>
			</div>
			<div class="resource-content flex-center flex-between">
				<input type="number" {{#if (eq system.requiredHands 0)}} disabled="disabled" {{/if}} min="0" step="1" max="100" name="system.probabilityOfFailing" value="{{system.probabilityOfFailing}}" data-dtype="Number" />
			</div>
			<div class="resource-content flex-center flex-between">
				<input type="number" {{#if (eq system.requiredHands 0)}} disabled="disabled" {{/if}} min="0" step="1" max="100" name="system.probabilityOfBreaking" value="{{system.probabilityOfBreaking}}" data-dtype="Number" />
			</div>
		</li>

		<li class="item flexrow items-header">
			<label class="resource-label">{{ localize "SPACE1889.UseType"}}</label>
			<label class="resource-label">{{ localize "SPACE1889.Duration"}}[min]</label>
			<label class="resource-label">{{ localize "SPACE1889.Interruptible"}}</label>
		</li>
		<li class="item flex-group-center flexrow">
			<div class="resource-content flex-center flex-between">
				<select name="system.itemUseType" data-dtype="String">
					{{selectOptions system.itemUseTypes selected=system.itemUseType localize=true}}
				</select>
			</div>
			<div class="resource-content flex-center flex-between">
				{{#if (eq system.itemUseType "permanentlyUsable")}}
				<label>&infin;</label>
				{{else}}
				<input type="text" min="0" step="1" name="system.duration" value="{{system.duration}}" />
				{{/if}}
			</div>
			<div class="resource-content flex-center flex-between">
				<input type="checkbox" name="system.interruptible" {{checked system.interruptible}} />
			</div>
		</li>

		<li class="item flexrow items-header">
			<label class="resource-label">{{localize "SPACE1889.IsActive"}}</label>
			<label class="resource-label">{{ localize "SPACE1889.Timestamp"}}</label>
			<label class="resource-label">{{localize "SPACE1889.OperatingTime"}}[min]</label>
		</li>
		<li class="item flex-group-center flexrow">
			<div class="resource-content flex-center flex-between">
				{{#if system.isActive}}
				<label data-tooltip="{{localize 'SPACE1889.EmitsLight'}}" class="fas fa-toggle-on"></label>
				{{else}}
				<label data-tooltip="{{localize 'SPACE1889.EmitsNoLight'}}" class="fa fa-toggle-off"></label>
				{{/if}}
			</div>
			<div class="resource" data-tooltip="{{formatTime system.emissionStartTimestamp}}">
				<input type="text" name="system.emissionStartTimestamp" value="{{system.emissionStartTimestamp}}" data-dtype="Number" />
			</div>
			<div class="resource-content flex-center flex-between">
				<input type="text" name="system.usedDuration" value="{{system.usedDuration}}" />
			</div>
		</li>
		<hr />
		{{#if (ne derived.descriptionLangId (localize derived.descriptionLangId))}}
		<p>{{{localize derived.descriptionLangId}}}</p>
		<hr />
		{{/if}}

		{{> "systems/space1889/templates/item/parts/item-description.html"}}
	</div>

</div>
