<form class="{{cssClass}}" autocomplete="off">
	<header class="sheet-header">
		<img class="profile-img artwork" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
		<div class="header-fields">
			<h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
			{{> "systems/space1889/templates/item/item-sub-id.html"}}
		</div>
	</header>

	<li class="item flexrow items-header">
		<label class="resource-label">{{localize "SPACE1889.Weight"}}[kg]</label>
		<label class="resource-label">{{localize "SPACE1889.Price"}}</label>
	</li>
	<li class="item flex-group-center flexrow">
		<div class="resource-content flex-center flex-between">
			<input type="text" name="system.weight" value="{{system.weight}}" data-dtype="Number"/>
		</div>
		<div class="resource-content flex-center flex-between">
			<input type="text" name="system.price" value="{{system.price}}"/>
		</div>
	</li>

	<li class="item flexrow items-header">
		<label class="resource-label">{{localize "SPACE1889.ContainerPortable"}}</label>
		<label class="resource-label">{{#if system.portable}}{{localize "SPACE1889.ItemCarried"}}{{/if}}</label>
	</li>
	<li class="item flex-group-center flexrow">
		<div class="resource">
			<div class="resource-content flex-center flex-between">
				<input type="checkbox" name="system.portable" {{checked system.portable}} />
			</div>
		</div>
		{{#if system.portable }}
		<div class="resource">
			<div class="resource-content flex-center flex-between">
				<input type="checkbox" name="system.carried" {{checked system.carried}} />
			</div>
		</div>
		{{else}}
		<div class="resource">
			<label class="resource-label"></label>
		</div>
		{{/if}}
	</li>


	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="description">{{localize "SPACE1889.Description"}}</a>
	</nav>

	{{!-- Sheet Body --}}
	<section class="sheet-body">

		{{!-- Attributes Tab --}}
		<div class="tab" data-group="primary" data-tab="description">
			<div class="edit-special">
				{{editor enrichedDescription target="system.description" button=true editable=editable}}
			</div>
			{{#if (ne system.descriptionLangId (localize system.descriptionLangId))}}
				<hr />
				<p>{{{localize system.descriptionLangId}}}</p>
			{{/if}}
		</div>

	</section>
</form>
