<form class="{{cssClass}}" autocomplete="off">
	<header class="sheet-header">
		<img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
		<div class="header-fields">
			<h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
			{{> "systems/space1889/templates/item/item-sub-id.html"}}
		</div>
	</header>


	<ol>
		<li class="item flexrow items-header">
			<label for="system.level.value" class="resource-label">{{localize "SPACE1889.Level"}}</label>
			<label for="system.level.min" class="resource-label">{{localize "SPACE1889.Min" }}</label>
			<label for="system.level.max" class="resource-label">{{localize "SPACE1889.Max"}}</label>
		</li>
		<li class="item flex-group-center flexrow">
			<div class="resource-content flex-center flex-between">
				<input type="text" name="system.level.value" value="{{system.level.value}}" data-dtype="Number"/>
			</div>
			<div class="resource-content flex-center flex-between">
				<input type="text" name="system.level.min" value="{{system.level.min}}" data-dtype="Number"/>
			</div>
			<div class="resource-content flex-center flex-between">
				<input type="text" name="system.level.max" value="{{system.level.max}}" data-dtype="Number"/>
			</div>
		</li>
	</ol>

	<hr>
	<li class="item flexrow items-header">
		<div class="resource">
			<label class="resource-label">{{ localize "SPACE1889.IsBaseResource" }}</label>
			<input type="checkbox" name="system.isBase" {{checked system.isBase}}>
		 </div>
	</li>


	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="description">{{localize "SPACE1889.Description"}}</a>
	</nav>

	{{!-- Sheet Body --}}
	<section class="sheet-body">

		{{!-- Description Tab --}}
		<div class="tab" data-group="primary" data-tab="description">
			<div class="edit-special">
				{{editor enrichedDescription target="system.description" button=true editable=editable}}
			</div>
			{{#if (ne system.descriptionLangId (localize system.descriptionLangId))}}
				<hr />
				<p>{{{localize system.descriptionLangId}}}</p>
			{{/if}}
		</div>
	</section>

</form>
