<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
		<div class="header-fields">
			<h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
			{{> "systems/space1889/templates/item/item-sub-id.html"}}
			<li class="item flex-group-center flexrow">
				<div class="resource item-max-with60px">
					<label for="system.health.value" class="resource-label">{{localize "SPACE1889.Level"}}</label>
				</div>
				<div class="resource-content flexrow flex-center flex-between">
					<input type="text" name="system.level.value" value="{{system.level.value}}" data-dtype="Number" />
					<span class="resource flex-group-center item-margin5px"> / </span>
					<input type="text" name="system.level.max" value="{{system.level.max}}" data-dtype="Number" />
				</div>
			</li>
		</div>
    </header>

    <li class="item flexrow items-header">
        <label class="resource-label">1. {{localize "SPACE1889.PreCondition"}}</label>
        <label class="resource-label">{{ localize "SPACE1889.PreConditionType" }}</label>
        <label class="resource-label">{{localize "SPACE1889.Level"}}</label>
        <label class="resource-label">{{ localize "SPACE1889.SkillGroup" }}</label>
    </li>
    <li class="item flex-group-center flexrow">
        <div class="resource-content flex-center flex-between">
            <input type="text" name="system.preconditionName" value="{{system.preconditionName}}" />
        </div>
        <div class="resource">
            <select name="system.preconditionType" data-dtype="String">
                {{#select system.preconditionType}}
                {{#each system.preConditionTypes as |ch char|}}
                <option value="{{char}}">{{localize ch}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
        <div class="resource-content flex-center flex-between">
            <input type="text" name="system.preconditionLevel" value="{{system.preconditionLevel}}" data-dtype="Number" />
        </div>
        <div class="resource-content flex-center flex-between">
            <input type="checkbox" name="system.isGroup" {{checked system.isGroup}} />
        </div>
    </li>
    <hr />
    <li class="item flexrow items-header">
        <label class="resource-label">2. {{localize "SPACE1889.PreCondition"}}</label>
        <label class="resource-label">{{ localize "SPACE1889.PreConditionType" }}</label>
        <label class="resource-label">{{localize "SPACE1889.Level"}}</label>
        <label title="{{localize "SPACE1889.OrOperator"}}" class="resource-label"> Operator</label>
    </li>
    <li class="item flex-group-center flexrow">
        <div class="resource-content flex-center flex-between">
            <input type="text" name="system.secondPreconditionName" value="{{system.secondPreconditionName}}" />
        </div>
        <div class="resource">
            <select name="system.secondPreconditionType" data-dtype="String">
                {{#select system.secondPreconditionType}}
                {{#each system.preConditionTypes as |ch char|}}
                <option value="{{char}}">{{localize ch}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
        <div class="resource-content flex-center flex-between">
            <input type="text" name="system.secondPreconditionLevel" value="{{system.secondPreconditionLevel}}" data-dtype="Number" />
        </div>
        <div class="resource-content flex-center flex-between">
            <input type="checkbox" name="system.isOrOperator" {{checked system.isOrOperator}} />
        </div>
    </li>
    <hr />

    <div class="resource">
        <label class="resource-label">{{ localize "SPACE1889.ChangedSkill" }}</label>
        <input type="text" name="system.changedSkill" value="{{system.changedSkill}}" />
    </div>
    <div class="form-group">
        <label>{{ localize "SPACE1889.NewBase" }}</label>
        <input type="text" name="system.newBase" value="{{system.newBase}}" />
    </div>
    <div class="form-group">
        <label>kurzinfo</label>
        <input type="text" name="system.info" value="{{system.info}}" />
    </div>

    <hr>
	<li class="item flexrow items-header">
		<label class="resource-label">{{localize "SPACE1889.BonusTarget"}}</label>
		<label class="resource-label">{{ localize "SPACE1889.TargetType" }}</label>
		<label class="resource-label">{{localize "SPACE1889.Rating"}}</label>
		<label class="resource-label" title={{localize "SPACE1889.BonusStartLevel"}}>{{localize "SPACE1889.BonusStartLevelAbbr"}}</label>
	</li>
	<li class="item flex-group-center flexrow">
		<div class="resource-content flex-center flex-between">
			<input type="text" name="system.bonusTarget" value="{{system.bonusTarget}}" />
		</div>
		<div class="resource-content flex-center flex-between">
			<input type="text" name="system.bonusTargetType" value="{{system.bonusTargetType}}" />
		</div>
		<div class="resource-content flex-center flex-between">
			<input type="text" name="system.bonus" value="{{system.bonus}}" data-dtype="Number"/>
		</div>
		<div class="resource-content flex-center flex-between">
			<input type="text" name="system.bonusStartLevel" value="{{system.bonusStartLevel}}"  data-dtype="Number"/>
		</div>
	</li>

    <ol>
        <li class="item flexrow items-header">
            <label class="resource-label">{{localize "SPACE1889.Publication"}}</label>
            <label class="resource-label">{{ localize "SPACE1889.Page" }}</label>
        </li>
        <li class="item flex-group-center flexrow">
            <div class="resource">
                <select name="system.source.publication" data-dtype="String">
                    {{#select system.source.publication}}
                    {{#each system.publications as |ch char|}}
                    <option value="{{char}}">{{localize ch}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
            <div class="resource-content flex-center flex-between">
                <input type="text" name="system.publication.page" value="{{system.publication.page}}" />
            </div>
        </li>
    </ol>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "SPACE1889.Description"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
			{{#if (ne system.descriptionLangId (localize system.descriptionLangId))}}
				<p>{{{localize system.descriptionLangId}}}</p>
				<hr />
			{{/if}}
		<div class="edit-special">
			{{editor enrichedDescription target="system.description" button=true editable=editable}}
		</div>
		</div>
    </section>

</form>
