<form class="{{cssClass}}" autocomplete="off">
	<header class="sheet-header">
		<img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
		<div class="header-fields">
			<h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
			{{> "systems/space1889/templates/item/item-sub-id.html"}}
		</div>
	</header>


	<div class="grid grid-2col">
		<div class="resource">
			<label class="resource-label">{{ localize "SPACE1889.Level" }}</label>
			<input type="text" name="system.level" value="{{system.level}}" data-dtype="Number" />
		</div>
		<div class="resource">
			<label class="resource-label">{{ localize "SPACE1889.Rating" }}</label>
			<div class="resource-content flexrow flex-between">
				<div class="resource item-margin5px">{{system.rating}}</div>
			</div>
		</div>
	</div>
	<div class="grid grid-2col">
		<div class="form-group">
			<label>{{ localize "SPACE1889.SkillGroup" }}</label>
			<input type="checkbox" name="system.isSkillGroup" {{checked system.isSkillGroup}} />
		</div>
		<div class="resource">
			<label class="resource-label">{{ localize "SPACE1889.Name" }}</label>
			<select name="system.skillGroupName">
				{{selectOptions system.skillGroups selected=system.skillGroupName localize=true}}
			</select>
		</div>

		<div class="resource">
			<label class="resource-label">{{ localize "SPACE1889.BaseAbility" }}</label>
			<div>
				<select name="system.underlyingAttribute" data-dtype="String">
					{{#select system.underlyingAttribute}}
					{{#each system.abilities as |ch char|}}
					<option value="{{char}}">{{localize ch}}</option>
					{{/each}}
					{{/select}}
				</select>
			</div>
		</div>
		<div class="resource">
			<label class="resource-label">{{ localize "SPACE1889.Publication" }}</label>
			<select name="system.source.publication" data-dtype="String">
				{{#select system.source.publication}}
				{{#each system.publications as |ch char|}}
				<option value="{{char}}">{{localize ch}}</option>
				{{/each}}
				{{/select}}
			</select>
		</div>
	</div>


	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="description">{{localize "SPACE1889.Description"}}</a>
	</nav>

	{{!-- Sheet Body --}}
	<section class="sheet-body">

		{{!-- Description Tab --}}
		<div class="tab" data-group="primary" data-tab="description">
			<div class="edit-special">
				{{editor enrichedDescription target="system.description" button=true editable=editable}}
			</div>
			{{#if (ne system.descriptionLangId (localize system.descriptionLangId))}}
				<hr />
				<p>{{{localize system.descriptionLangId}}}</p>
			{{/if}}
		</div>
	</section>
</form>

