<form class="{{cssClass}}" autocomplete="off">
	<header class="sheet-header">
		<img class="profile-img artwork" src="{{item.img}}" data-edit="img" data-tooltip="{{item.name}}" />
		<div class="header-fields">
			<h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
			{{> "systems/space1889/templates/item/item-sub-id.html"}}
		</div>
	</header>

	<li class="item flex-group-center flexrow">
		<div class="resource">
			<label class="resource-label">{{ localize "SPACE1889.CombatSkill" }}</label>
			<select name="system.skillId" data-dtype="String">
				{{#select system.skillId}}
				{{#each system.combatSkills as |ch char|}}
				<option value="{{char}}">{{localize ch}}</option>
				{{/each}}
				{{/select}}
			</select>
		</div>
		<div class="resource">
			<label class="resource-label">{{ localize "SPACE1889.CombatSpecialization" }}</label>
			<select name="system.specializationId" data-dtype="String">
				{{#select system.specializationId}}
				{{#each system.combatSpecializations as |ch char|}}
				<option value="{{char}}">{{localize ch}}</option>
				{{/each}}
				{{/select}}
			</select>
		</div>

		{{#if (ne system.skillId 'geschuetze')}}
		<div class="resource">
			<label class="resource-label">{{ localize "SPACE1889.WeaponTwoHanded"}}</label>
			<div class="resource-content flex-center flex-between">
				<input type="checkbox" name="system.isTwoHanded" {{checked system.isTwoHanded}} />
			</div>
		</div>
		{{/if}}
		{{#if (eq system.skillId 'geschuetze')}}
		<div class="resource">
			<label class="resource-label">{{ localize "SPACE1889.SecondaryAttributeSiz" }}</label>
			<div class="resource-content flex-center flex-between">
				<a class="increment-weapon-size-click">{{system.size}}</a>
			</div>
		</div>
		{{/if}}
		{{#if (eq system.skillId 'schusswaffen')}}
		<div class="resource">
			<label class="resource-label">{{ localize "SPACE1889.TelescopicSight"}}</label>
			<div class="resource-content flex-center flex-between">
				<input type="checkbox" name="system.hasTelescopicSight" {{checked system.hasTelescopicSight}} />
			</div>
		</div>
		{{/if}}

	</li>

	<li class="item flexrow items-header">
		<label class="resource-label">{{ localize "SPACE1889.Damage"}}</label>
		<label class="resource-label">{{ localize "SPACE1889.DamageType"}}</label>
		<label class="resource-label">{{ localize "SPACE1889.AreaDamage"}}</label>
	</li>
	<li class="item flex-group-center flexrow">
		<div class="resource">
			<input type="text" name="system.damage" value="{{system.damage}}" data-dtype="Number" />
		</div>
		<div class="resource">
			<select name="system.damageType" data-dtype="String">
				{{#select system.damageType}}
				{{#each system.damageTypes as |ch char|}}
				<option value="{{char}}">{{localize ch}}</option>
				{{/each}}
				{{/select}}
			</select>
		</div>
		<div class="resource-content flex-center flex-between">
			<input type="checkbox" name="system.isAreaDamage" {{checked system.isAreaDamage}} />
		</div>
	</li>

	<li class="item flexrow items-header">
		<label class="resource-label">{{ localize "SPACE1889.AdditionalWeaponEffect"}}</label>
		<label class="resource-label">{{ localize "SPACE1889.DurationCombatTurns"}}</label>
		<label class="resource-label">{{ localize "SPACE1889.EffectDuration"}}</label>
		<label class="resource-label" data-tooltip="{{localize "SPACE1889.EffectOnlyAndNoDamageInfo"}}">{{ localize "SPACE1889.EffectOnlyAndNoDamage"}}</label>

	</li>
	<li class="item flex-group-center flexrow">
		<div class="resource">
			<select name="system.effect" data-dtype="String">
				{{#select system.effect}}
				{{#each system.effectTypes as |ch char|}}
				<option value="{{char}}">{{localize ch}}</option>
				{{/each}}
				{{/select}}
			</select>
		</div>
		{{#if (ne system.effect 'none')}}
		<div class="resource">
			<input type="text" name="system.effectDurationCombatTurns" value="{{system.effectDurationCombatTurns}}" data-dtype="Number" />
		</div>
		<label class="label">{{system.effectDuration}}</label>
		<div class="resource-content flex-center flex-between">
			<input type="checkbox" name="system.effectOnly" {{checked system.effectOnly}} />
		</div>
		{{else}}
		<div></div>
		<div></div>
		<div></div>
		{{/if}}
	</li>

	<hr>

	<li class="item flexrow items-header">
		<label class="resource-label">{{localize "SPACE1889.StrengthThreshold"}}</label>
		<label class="resource-label">{{ localize "SPACE1889.Weight"}}[kg]</label>
		<label class="resource-label">{{localize "SPACE1889.Price"}}</label>
	</li>
	<li class="item flex-group-center flexrow">
		<div class="resource-content flex-center flex-between">
			<input type="text" name="system.strengthThreshold" value="{{system.strengthThreshold}}" />
		</div>
		<div class="resource-content flex-center flex-between">
			<input type="text" name="system.weight" value="{{system.weight}}" data-dtype="Number" />
		</div>
		<div class="resource-content flex-center flex-between">
			<input type="text" name="system.price" value="{{system.price}}" />
		</div>
	</li>

	<hr>

	<li class="item flexrow items-header">
		<label class="resource-label">{{localize "SPACE1889.Range"}}</label>
		<label class="resource-label">{{ localize "SPACE1889.Capacity"}}</label>
		<label class="resource-label">{{ localize "SPACE1889.CapacityType"}}</label>
		<label class="resource-label">{{localize "SPACE1889.RateOfFire"}}</label>
		<label class="resource-label">{{localize "SPACE1889.Speed"}}</label>
	</li>
	<li class="item flex-group-center flexrow">
		<div class="resource-content flex-center flex-between">
			<input type="text" name="system.range" value="{{system.range}}" />
		</div>
		<div class="resource-content flex-center flex-between">
			<input type="text" name="system.capacity" value="{{system.capacity}}" data-dtype="Number" />
		</div>
		<select name="system.capacityType" system-dtype="String">
			{{#select system.capacityType}}
			{{#each system.capacityTypes as |ch char|}}
			<option value="{{char}}">{{localize ch}}</option>
			{{/each}}
			{{/select}}
		</select>
		<div class="resource-content flex-center flex-between">
			<input type="text" name="system.rateOfFire" value="{{system.rateOfFire}}" />
		</div>
		<div class="resource-content flex-center flex-between">
			<input type="text" name="system.speed" value="{{system.speed}}" />
		</div>
	</li>

	<hr>

	<li class="item flexrow items-header">
		<label class="resource-label">{{localize "SPACE1889.Ammunition"}}</label>
		<label class="resource-label">{{localize "SPACE1889.Caliber"}}</label>
		<label class="resource-label">{{localize "SPACE1889.StorageLocation"}}</label>
	</li>
	<li class="item flex-group-center flexrow">
		<!--<div class="resource-content flex-center flex-between">
			<input type="text" name="system.ammunitionType" value="{{system.ammunitionType}}" />
		</div>-->

		<select name="system.ammunition.type" data-dtype="String">
			{{#select system.ammunition.type}}
			{{#each system.ammunitionTypes as |ch char|}}
			<option value="{{char}}">{{localize ch}}</option>
			{{/each}}
			{{/select}}
		</select>

		<div class="resource-content flex-center flex-between">
			<input type="text" name="system.ammunition.caliber" value="{{system.ammunition.caliber}}" />
		</div>
		{{#if (eq item.system.skillId "geschuetze")}}
		<select name="system.location" data-dtype="String">
			{{#select system.location}}
			{{#each system.storageLocations as |ch char|}}
			<option value="{{char}}">{{localize ch}}</option>
			{{/each}}
			{{/select}}
		</select>
		{{else}}
		<div class="resource-content flex-center flex-between">
			{{#if system.locationDisplayLong}}
			<label>{{system.locationDisplayLong}}</label>
			{{/if}}
		</div>
		{{/if}}
	</li>

	{{#if (eq system.location 'mounted')}}
	<li class="item flexrow items-header">
		<label class="resource-label">{{ localize "SPACE1889.WeaponGunPosition"}}</label>
		<label class="resource-label">{{ localize "SPACE1889.WeaponIsSwivel"}}</label>
		<label class="resource-label">{{ localize "SPACE1889.WeaponSwivelingRange"}}[&deg;]</label>
	</li>
	<li class="item flex-group-center flexrow">
		<div class="resource">
			<select name="system.vehicle.spot" data-dtype="String">
				{{#select system.vehicle.spot}}
				{{#each system.weaponMountSpots as |ch char|}}
				<option value="{{char}}">{{localize ch}}</option>
				{{/each}}
				{{/select}}
			</select>
		</div>
		<div class="resource-content flex-center flex-between">
			<input type="checkbox" name="system.vehicle.isSwivelMounted" {{checked system.vehicle.isSwivelMounted}} />
		</div>
		{{#if system.vehicle.isSwivelMounted}}
		<div class="resource">
			<input type="text" name="system.vehicle.swivelingRange" value="{{system.vehicle.swivelingRange}}" />
		</div>
		{{else}}
		<label class="item">0</label>
		{{/if}}
	</li>
	{{/if}}

	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="description">{{localize "SPACE1889.Description"}}</a>
	</nav>

	{{!-- Sheet Body --}}
	<section class="sheet-body">

		{{!-- Attributes Tab --}}
		<div class="tab description" data-group="primary" data-tab="description">
			{{editor enrichedDescription target="system.description" button=true editable=editable}}
		</div>

	</section>

</form>
