<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
            <li class="item flexrow items-header">
                <label class="resource-label">{{ localize "SPACE1889.Id" }}</label>
                <label for="data.health.value" class="resource-label">{{localize "SPACE1889.Level"}}</label>
            </li>
            <li class="item flex-group-center flexrow">
                <div class="resource">
                    <input type="text" name="data.id" value="{{data.id}}" />
                </div>
                <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="data.level.value" value="{{data.level.value}}" data-dtype="Number" />
                    <span class="resource flex-group-center item-margin5px"> / </span>
                    <input type="text" name="data.level.max" value="{{data.level.max}}" data-dtype="Number" />
                </div>
            </li>
        </div>
    </header>

    <li class="item flexrow items-header">
        <label class="resource-label">1. {{localize "SPACE1889.PreCondition"}}</label>
        <label class="resource-label">{{ localize "SPACE1889.PreConditionType" }}</label>
        <label class="resource-label">{{localize "SPACE1889.Level"}}</label>
        <label class="resource-label">{{ localize "SPACE1889.SkillGroup" }}</label>
    </li>
    <li class="item flex-group-center flexrow">
        <div class="resource-content flex-center flex-between">
            <input type="text" name="data.preconditionName" value="{{data.preconditionName}}" />
        </div>
        <div class="resource">
            <select name="data.preconditionType" data-dtype="String">
                {{#select data.preconditionType}}
                {{#each data.preConditionTypes as |ch char|}}
                <option value="{{char}}">{{localize ch}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
        <div class="resource-content flex-center flex-between">
            <input type="text" name="data.preconditionLevel" value="{{data.preconditionLevel}}" data-dtype="Number" />
        </div>
        <div class="resource-content flex-center flex-between">
            <input type="checkbox" name="data.isGroup" {{checked data.isGroup}} />
        </div>
    </li>
    <hr />
    <li class="item flexrow items-header">
        <label class="resource-label">2. {{localize "SPACE1889.PreCondition"}}</label>
        <label class="resource-label">{{ localize "SPACE1889.PreConditionType" }}</label>
        <label class="resource-label">{{localize "SPACE1889.Level"}}</label>
        <label title="{{localize "SPACE1889.OrOperator"}}" class="resource-label"> Operator</label>
    </li>
    <li class="item flex-group-center flexrow">
        <div class="resource-content flex-center flex-between">
            <input type="text" name="data.secondPreconditionName" value="{{data.secondPreconditionName}}" />
        </div>
        <div class="resource">
            <select name="data.secondPreconditionType" data-dtype="String">
                {{#select data.secondPreconditionType}}
                {{#each data.preConditionTypes as |ch char|}}
                <option value="{{char}}">{{localize ch}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
        <div class="resource-content flex-center flex-between">
            <input type="text" name="data.secondPreconditionLevel" value="{{data.secondPreconditionLevel}}" data-dtype="Number" />
        </div>
        <div class="resource-content flex-center flex-between">
            <input type="checkbox" name="data.isOrOperator" {{checked data.isOrOperator}} />
        </div>
    </li>
    <hr />

    <div class="resource">
        <label class="resource-label">{{ localize "SPACE1889.ChangedSkill" }}</label>
        <input type="text" name="data.changedSkill" value="{{data.changedSkill}}" />
    </div>
    <div class="form-group">
        <label>{{ localize "SPACE1889.NewBase" }}</label>
        <input type="text" name="data.newBase" value="{{data.newBase}}" />
    </div>
    <div class="form-group">
        <label>kurzinfo</label>
        <input type="text" name="data.info" value="{{data.info}}" />
    </div>

    <hr>
    <li class="item flexrow items-header">
        <label class="resource-label">{{localize "SPACE1889.BonusTarget"}}</label>
        <label class="resource-label">{{ localize "SPACE1889.TargetType" }}</label>
        <label class="resource-label">{{localize "SPACE1889.Rating"}}</label>
    </li>
    <li class="item flex-group-center flexrow">
        <div class="resource-content flex-center flex-between">
            <input type="text" name="data.bonusTarget" value="{{data.bonusTarget}}" />
        </div>
        <div class="resource-content flex-center flex-between">
            <input type="text" name="data.bonusTargetType" value="{{data.bonusTargetType}}" />
        </div>
        <div class="resource-content flex-center flex-between">
            <input type="text" name="data.bonus" value="{{data.bonus}}" />
        </div>
    </li>

    <ol>
        <li class="item flexrow items-header">
            <label class="resource-label">{{localize "SPACE1889.Publication"}}</label>
            <label class="resource-label">{{ localize "SPACE1889.Page" }}</label>
        </li>
        <li class="item flex-group-center flexrow">
            <div class="resource">
                <select name="data.source.publication" data-dtype="String">
                    {{#select data.source.publication}}
                    {{#each data.publications as |ch char|}}
                    <option value="{{char}}">{{localize ch}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
            <div class="resource-content flex-center flex-between">
                <input type="text" name="data.publication.page" value="{{data.publication.page}}" />
            </div>
        </li>
    </ol>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "SPACE1889.Description"}}</a>
        <a class="item" data-tab="kannIgnoriertWerden">description</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Attributes Tab --}}
        <div class="tab description" data-group="primary" data-tab="description">
            <p>{{{localize data.descriptionLangId}}}</p>
        </div>

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="kannIgnoriertWerden">
            {{editor content=data.description target="data.description" rollData=rollData button=true owner=owner editable=editable}}
        </div>

    </section>

</form>
