<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img artwork" src="{{item.img}}" data-edit="img" data-tooltip="{{item.name}}" />
		<div class="header-fields">
			<h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
			{{> "systems/space1889/templates/item/item-sub-id.html"}}
			<li class="item flex-group-center flexrow">
				<div class="resource item-max-with60px">
					<label for="system.health.value" class="resource-label">{{localize "SPACE1889.Level"}}</label>
				</div>
				<div class="resource-content flexrow flex-center flex-between">
					<input type="text" name="system.level.value" value="{{system.level.value}}" data-dtype="Number" />
					<span class="resource flex-group-center item-margin5px"> / </span>
					<input type="text" name="system.level.max" value="{{system.level.max}}" data-dtype="Number" />
				</div>
			</li>
		</div>
    </header>
	
	<div class="item flexrow items-header-left" style="display: grid; grid-template-columns: 32% 58% 10%; margin: 5px 0; ">
	    <label class="resource-label">1. {{localize "SPACE1889.PreConditionType" }}</label>
	    <label class="resource-label">1. {{localize "SPACE1889.PreCondition"}}</label>
        <label class="resource-label">{{localize "SPACE1889.Level"}}</label>
    </div>
	<div class="item" style="display: grid; grid-template-columns: 32% 58% 10%; margin: 5px 0; ">
        <div class="resource">
	        <select name="system.preconditionType" data-dtype="String">
		        {{selectOptions system.preConditionTypes selected=system.preconditionType localize=true}}
	        </select>
        </div>
        {{#if (eq system.preconditionType 'nothing')}}
        <div class="resource">
	        <select name="system.secondPreconditionName" data-dtype="String">
		        {{selectOptions system.emptyEntry selected=system.preconditionName nameAttr="key" labelAttr="label"}}
	        </select>
        </div>
        {{/if}}
        {{#if (eq system.preconditionType 'actor')}}
        <div class="resource">
	        <select name="system.preconditionName" data-dtype="String">
		        {{selectOptions system.actorTypes selected=system.preconditionName nameAttr="key" labelAttr="label"}}
	        </select>
        </div>
        {{/if}}
        {{#if (eq system.preconditionType 'primary')}}
        <div class="resource">
	        <select name="system.preconditionName" data-dtype="String">
		        {{selectOptions system.primaryAbilityTypes selected=system.preconditionName nameAttr="key" labelAttr="label"}}
	        </select>
        </div>
        {{/if}}
        {{#if (eq system.preconditionType 'secondary')}}
        <div class="resource">
	        <select name="system.preconditionName" data-dtype="String">
		        {{selectOptions system.secondaryAbilityTypes selected=system.preconditionName nameAttr="key" labelAttr="label"}}
	        </select>
        </div>
        {{/if}}
        {{#if (eq system.preconditionType 'skill')}}
        <div class="resource">
	        <select name="system.preconditionName" data-dtype="String">
		        {{selectOptions system.skills selected=system.preconditionName nameAttr="key" labelAttr="label"}}
	        </select>
        </div>
        {{/if}}
        {{#if (eq system.preconditionType 'skillGroup')}}
        <div class="resource">
	        <select name="system.preconditionName" data-dtype="String">
		        {{selectOptions system.skillGroups selected=system.preconditionName nameAttr="key" labelAttr="label"}}
	        </select>
        </div>
        {{/if}}
        {{#if (eq system.preconditionType 'species')}}
        <div class="resource">
	        <select name="system.preconditionName" data-dtype="String">
		        {{selectOptions system.speciesTypes selected=system.preconditionName nameAttr="key" labelAttr="label"}}
	        </select>
        </div>
        {{/if}}
        {{#if (eq system.preconditionType 'talent')}}
        <div class="noOverflow">
	        <select name="system.preconditionName" data-dtype="String">
		        {{selectOptions system.talents selected=system.preconditionName nameAttr="key" labelAttr="label"}}
	        </select>
        </div>
        {{/if}}
        {{#if (eq system.preconditionType 'weakness')}}
        <div class="resource">
	        <select name="system.preconditionName" data-dtype="String">
		        {{selectOptions system.weaknesses selected=system.preconditionName nameAttr="key" labelAttr="label"}}
	        </select>
        </div>
        {{/if}}
        {{#if (eq system.preconditionType 'specialization')}}
        <div class="resource-content flex-center flex-between">
	        <input type="text" name="system.preconditionName" value="{{system.preconditionName}}" />
        </div>
        {{/if}}
        <div class="resource-content flex-center flex-between">
            <input type="text" name="system.preconditionLevel" value="{{system.preconditionLevel}}" data-dtype="Number" />
        </div>
    </div>
    <hr />
    <div class="item items-header-left" style="display: grid; grid-template-columns: 32% 50% 9% 9%; margin: 5px 0; ">
	    <label class="resource-label">2. {{localize "SPACE1889.PreConditionType" }}</label>
	    <label class="resource-label">2. {{localize "SPACE1889.PreCondition"}}</label>
        <label class="resource-label"> {{localize "SPACE1889.Level"}}</label>
        <label data-tooltip="{{localize "SPACE1889.OperatorOrInfo"}}" class="resource-label">{{localize "SPACE1889.OperatorOr"}}</label>
    </div>
    <div class="item" style="display: grid; grid-template-columns: 32% 50% 9% 9%; margin: 5px 0; ">
        <div class="resource">
	        <select name="system.secondPreconditionType" data-dtype="String">
		        {{selectOptions system.preConditionTypes selected=system.secondPreconditionType localize=true}}
	        </select>
        </div>
        {{#if (eq system.secondPreconditionType 'nothing')}}
        <div class="resource">
	        <select name="system.secondPreconditionName" data-dtype="String">
		        {{selectOptions system.emptyEntry selected=system.secondPreconditionName nameAttr="key" labelAttr="label"}}
	        </select>
        </div>
        {{/if}}
        {{#if (eq system.secondPreconditionType 'actor')}}
        <div class="resource">
	        <select name="system.secondPreconditionName" data-dtype="String">
		        {{selectOptions system.actorTypes selected=system.secondPreconditionName nameAttr="key" labelAttr="label"}}
	        </select>
        </div>
        {{/if}}
        {{#if (eq system.secondPreconditionType 'primary')}}
        <div class="resource">
	        <select name="system.secondPreconditionName" data-dtype="String">
		        {{selectOptions system.primaryAbilityTypes selected=system.secondPreconditionName nameAttr="key" labelAttr="label"}}
	        </select>
        </div>
        {{/if}}
        {{#if (eq system.secondPreconditionType 'secondary')}}
        <div class="resource">
	        <select name="system.secondPreconditionName" data-dtype="String">
		        {{selectOptions system.secondaryAbilityTypes selected=system.secondPreconditionName nameAttr="key" labelAttr="label"}}
	        </select>
        </div>
        {{/if}}
        {{#if (eq system.secondPreconditionType 'skill')}}
        <div class="resource">
	        <select name="system.secondPreconditionName" data-dtype="String">
		        {{selectOptions system.skills selected=system.secondPreconditionName nameAttr="key" labelAttr="label"}}
	        </select>
        </div>
        {{/if}}
        {{#if (eq system.secondPreconditionType 'skillGroup')}}
        <div class="resource">
	        <select name="system.secondPreconditionName" data-dtype="String">
		        {{selectOptions system.skillGroups selected=system.secondPreconditionName nameAttr="key" labelAttr="label"}}
	        </select>
        </div>
        {{/if}}
        {{#if (eq system.secondPreconditionType 'species')}}
        <div class="resource">
	        <select name="system.secondPreconditionName" data-dtype="String">
		        {{selectOptions system.speciesTypes selected=system.secondPreconditionName nameAttr="key" labelAttr="label"}}
	        </select>
        </div>
        {{/if}}
        {{#if (eq system.secondPreconditionType 'talent')}}
        <div class="noOverflow">
	        <select name="system.secondPreconditionName" data-dtype="String">
		        {{selectOptions system.talents selected=system.secondPreconditionName nameAttr="key" labelAttr="label"}}
	        </select>
        </div>
        {{/if}}
        {{#if (eq system.secondPreconditionType 'weakness')}}
        <div class="resource">
	        <select name="system.secondPreconditionName" data-dtype="String">
		        {{selectOptions system.weaknesses selected=system.secondPreconditionName nameAttr="key" labelAttr="label"}}
	        </select>
        </div>
        {{/if}}
        {{#if (eq system.secondPreconditionType 'specialization')}}
        <div class="resource-content flex-center flex-between">
	        <input type="text" name="system.secondPreconditionName" value="{{system.secondPreconditionName}}" />
        </div>
        {{/if}}		
        <div class="item flex-center flex-between">
            <input type="text" name="system.secondPreconditionLevel" value="{{system.secondPreconditionLevel}}" data-dtype="Number" />
        </div>
        <div class="resource-content flex-center flex-between">
            <input type="checkbox" name="system.isOrOperator" {{checked system.isOrOperator}} />
        </div>
    </div>
    <hr />
	
    <li class="item flexrow items-header">
		<label class="resource-label">{{localize "SPACE1889.SkillBaseAttributeChange"}}</label>
	</li>
    <div class="form-group">
	    <label>{{ localize "SPACE1889.ChangedSkill" }}</label>
	    <select name="system.changedSkill" data-dtype="String">
		    {{selectOptions system.skills selected=system.changedSkill nameAttr="key" labelAttr="label"}}
	    </select>
    </div>
    <div class="form-group">
	    <label>{{ localize "SPACE1889.NewBase" }}</label>
	    <select name="system.newBase" data-dtype="String">
		    {{selectOptions system.primaryAbilityTypes selected=system.newBase nameAttr="key" labelAttr="label"}}
	    </select>
    </div>
    <hr>
    <li class="item flexrow items-header">
	    <label class="resource-label">{{localize "SPACE1889.TalentBonus" }}</label>
    </li>
	<li class="item items-header-left" style="display: grid; grid-template-columns: 35% 41% 12% 12%; margin: 5px 0; ">
		<label class="resource-label">{{localize "SPACE1889.TargetType" }}</label>
		<label class="resource-label">{{localize "SPACE1889.BonusTarget"}}</label>
		<label class="resource-label">{{localize "SPACE1889.Rating"}}</label>
		<label class="resource-label" data-tooltip={{localize "SPACE1889.BonusStartLevel"}}>{{localize "SPACE1889.BonusStartLevelAbbr"}}</label>
	</li>
    <div class="item" style="display: grid; grid-template-columns: 35% 41% 12% 12%; margin: 5px 0; ">
		<div class="resource">
			<select name="system.bonusTargetType" data-dtype="String">
				{{selectOptions system.bonusTypes selected=system.bonusTargetType nameAttr="key" labelAttr="label"}}
			</select>
		</div>
		{{#if (eq system.bonusTargetType '')}}
		<div class="resource">
			<select name="system.bonusTarget" data-dtype="String">
				{{selectOptions system.emptyEntry selected=system.bonusTarget nameAttr="key" labelAttr="label"}}
			</select>
		</div>
		{{/if}}
		{{#if (eq system.bonusTargetType 'ability')}}
		<div class="resource">
			<select name="system.bonusTarget" data-dtype="String">
				{{selectOptions system.primaryAbilityTypes selected=system.bonusTarget nameAttr="key" labelAttr="label"}}
			</select>
		</div>
		{{/if}}
		{{#if (eq system.bonusTargetType 'secondary')}}
		<div class="resource">
			<select name="system.bonusTarget" data-dtype="String">
				{{selectOptions system.secondaryAbilityTypes selected=system.bonusTarget nameAttr="key" labelAttr="label"}}
			</select>
		</div>
		{{/if}}
		{{#if (eq system.bonusTargetType 'skill')}}
		<div class="resource">
			<select name="system.bonusTarget" data-dtype="String">
				{{selectOptions system.skillsWithGroups selected=system.bonusTarget nameAttr="key" labelAttr="label"}}
			</select>
		</div>
		{{/if}}
		{{#if (eq system.bonusTargetType 'specialization')}}
		<div class="resource">
			<select name="system.bonusTarget" data-dtype="String">
				{{selectOptions system.specializations selected=system.bonusTarget nameAttr="key" labelAttr="label"}}
			</select>
		</div>
		{{/if}}
		{{#if (eq system.bonusTargetType 'health')}}
		<div class="resource">
			<select name="system.bonusTarget" data-dtype="String">
				{{selectOptions system.emptyEntry selected=system.bonusTarget nameAttr="key" labelAttr="label"}}
			</select>
		</div>
		{{/if}}
		{{#if (eq system.bonusTargetType 'sense')}}
		<div class="resource">
			<select name="system.bonusTarget" data-dtype="String">
				{{selectOptions system.senseTypes selected=system.bonusTarget nameAttr="key" labelAttr="label"}}
			</select>
			<!--<input type="text" name="system.bonusTarget" value="{{system.bonusTarget}}" />-->
		</div>
		{{/if}}
		{{#if (eq system.bonusTargetType 'gravity')}}
		<div class="resource">
			<select name="system.bonusTarget" data-dtype="String">
				{{selectOptions system.gravity selected=system.bonusTarget localize=true}}
			</select>
		</div>
		{{/if}}
		
		<div class="resource-content flex-center flex-between">
			<input type="text" name="system.bonus" value="{{system.bonus}}" data-dtype="Number"/>
		</div>
		<div class="resource-content flex-center flex-between">
			<input type="text" name="system.bonusStartLevel" value="{{system.bonusStartLevel}}"  data-dtype="Number"/>
		</div>
	</div>

    <div>
        <li class="item flexrow items-header">
            <label class="resource-label">{{localize "SPACE1889.Publication"}}</label>
            <label class="resource-label">{{ localize "SPACE1889.Page" }}</label>
        </li>
        <li class="item flex-group-center flexrow">
            <div class="resource">
	            <select name="system.source.publication" data-dtype="String">
		            {{selectOptions system.publications selected=system.source.publication localize=true}}
	            </select>
            </div>
            <div class="resource-content flex-center flex-between">
                <input type="text" name="system.publication.page" value="{{system.publication.page}}" />
            </div>
        </li>
    </div>
    <hr/>
    <div class="form-group">
	    <label>kurzinfo</label>
	    <input type="text" name="system.info" value="{{system.info}}" />
    </div>
    <hr>
    <div>
    <li class="item flexrow items-header">
	    <label class="resource-label">{{ localize "SPACE1889.IsCampaingnEffect"}}</label>
	    <label class="resource-label">{{ localize "SPACE1889.Source"}}</label>
    </li>
    <li class="item flex-group-center flexrow">
	    <div class="resource-content flex-center flex-between">
		    <input data-tooltip="{{localize "SPACE1889.NoEpCauseTempCampaingnEffect"}}" type="checkbox" name="system.noEp" {{checked system.noEp}} />
	    </div>
	    <div class="resource-content flex-center flex-between">
		    <input type="text" name="system.noEpSource" value="{{system.noEpSource}}" />
	    </div>
    </li>
	</div>

	<div>
	{{> "systems/space1889/templates/actor/parts/actor-effects.html"}}
	</div>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "SPACE1889.Description"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
			{{#if (ne system.descriptionLangId (localize system.descriptionLangId))}}
				<p>{{{localize system.descriptionLangId}}}</p>
				<hr />
			{{/if}}
		<div class="edit-special">
			{{editor enrichedDescription target="system.description" button=true editable=editable}}
		</div>
		</div>
    </section>

</form>
