<form class="{{cssClass}}" autocomplete="off">
	<header class="sheet-header">
		<img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
		<div class="header-fields">
			<h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
			<div class="resource">
				<label class="resource-label">{{ localize "SPACE1889.Id" }}</label>
				<input type="text" name="data.id" value="{{data.id}}" />
			</div>
		</div>
	</header>


	<div class="grid grid-2col">
		<div class="resource">
			<label class="resource-label">{{ localize "SPACE1889.Level" }}</label>
			<input type="text" name="data.level" value="{{data.level}}" data-dtype="Number" />
		</div>
		<div class="resource">
			<label class="resource-label">{{ localize "SPACE1889.Rating" }}</label>
			<input type="text" name="data.rating" value="{{data.rating}}" data-dtype="Number" />
		</div>
	</div>
	<div class="grid grid-2col">
		<div class="form-group">
			<label>{{ localize "SPACE1889.SkillGroup" }}</label>
			<input type="checkbox" name="data.isSkillGroup" {{checked data.isSkillGroup}} />
		</div>
		<div class="resource">
			<label class="resource-label">{{ localize "SPACE1889.Name" }}</label>
			<input type="text" name="data.skillGroupName" value="{{data.skillGroupName}}" />
		</div>

		<div class="resource">
			<label class="resource-label">{{ localize "SPACE1889.BaseAbility" }}</label>
			<select name="data.underlyingAttribute" data-dtype="String">
				{{#select data.underlyingAttribute}}
				{{#each data.abilities as |ch char|}}
				<option value="{{char}}">{{localize ch}}</option>
				{{/each}}
				{{/select}}
			</select>
		</div>
		<div class="resource">
			<label class="resource-label">{{ localize "SPACE1889.Publication" }}</label>
			<select name="data.source.publication" data-dtype="String">
				{{#select data.source.publication}}
				{{#each data.publications as |ch char|}}
				<option value="{{char}}">{{localize ch}}</option>
				{{/each}}
				{{/select}}
			</select>
		</div>
	</div>


	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="description">{{localize "SPACE1889.Description"}}</a>
		<a class="item" data-tab="descLocalizeVersion">Description localized version</a>
	</nav>

	{{!-- Sheet Body --}}
	<section class="sheet-body">

		{{!-- Description Tab --}}
		<div class="tab" data-group="primary" data-tab="description">
			{{!-- To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the rollData prop. --}}
			{{editor content=data.description target="data.description" rollData=rollData button=true owner=owner editable=editable}}
		</div>

		{{!-- descLocalizeVersion Tab --}}
		<div class="tab descLocalizeVersion" data-group="primary" data-tab="descLocalizeVersion">
			{{!-- As you add new fields, add them in here! --}}
			<p>{{{localize data.descriptionLangId}}}</p>
		</div>
	</section>
</form>

