<form class="{{cssClass}}" autocomplete="off">
	<header class="sheet-header">
		<img class="profile-img artwork" src="{{item.img}}" data-edit="img" data-tooltip="{{item.name}}"/>
		<div class="header-fields">
			<h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
			{{> "systems/space1889/templates/item/item-sub-id.html"}}
		</div>
	</header>

	<li class="item flexrow items-header">
		<label class="resource-label">{{localize "SPACE1889.DefenseBonus"}}</label>
		<label class="resource-label">{{localize "SPACE1889.DexPenalty"}}</label>
		<label class="resource-label">{{localize "SPACE1889.StrengthThreshold"}}</label>
	</li>
	<li class="item flex-group-center flexrow">
		<div class="resource-content flex-center flex-between">
			<input type="text" name="system.defenseBonus" value="{{system.defenseBonus}}" data-dtype="Number"/>
		</div>
		<div class="resource-content flex-center flex-between">
			<input type="text" name="system.dexPenalty" value="{{system.dexPenalty}}" data-dtype="Number"/>
		</div>
		<div class="resource-content flex-center flex-between">
			<input type="text" name="system.strengthThreshold" value="{{system.strengthThreshold}}" data-dtype="Number"/>
		</div>
	</li>

	<hr>

	<li class="item flexrow items-header">
		<label class="resource-label">{{localize "SPACE1889.Weight"}}[kg]</label>
		<label class="resource-label">{{localize "SPACE1889.Price"}}</label>
	</li>
	<li class="item flex-group-center flexrow">
		<div class="resource-content flex-center flex-between">
			<input type="text" name="system.weight" value="{{system.weight}}" data-dtype="Number"/>
		</div>
		<div class="resource-content flex-center flex-between">
			<input type="text" name="system.price" value="{{system.price}}"/>
		</div>
	</li>
	{{#if system.locationLong}}
	<hr>
	<div class="resource">
		<label class="resource-label">{{ localize "SPACE1889.StorageLocation" }}</label>
		<label>{{system.locationLong}}</label>
	</div>
	<hr>
	{{/if}}

	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="description">{{localize "SPACE1889.Description"}}</a>
	</nav>

	{{!-- Sheet Body --}}
	<section class="sheet-body">

		{{!-- Attributes Tab --}}
		<div class="tab" data-group="primary" data-tab="description">
			<div class="edit-special">
				{{editor enrichedDescription target="system.description" button=true editable=editable}}
			</div>
			{{#if (ne system.descriptionLangId (localize system.descriptionLangId))}}
				<hr />
				<p>{{{localize system.descriptionLangId}}}</p>
			{{/if}}
		</div>

	</section>

</form>
