<form class="{{cssClass}}" autocomplete="off">
	<header class="sheet-header">
		<img class="profile-img artwork" src="{{item.img}}" data-edit="img" data-tooltip="{{ localize 'SPACE1889.Skill' }}"/>
		<div class="header-fields">
			<h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
			{{> "systems/space1889/templates/item/item-sub-id.html"}}
			<div class="grid grid-2col">
				<div class="resource">
					<label class="resource-label">{{ localize "SPACE1889.Level" }}</label>
					<input type="text" name="system.level" value="{{system.level}}" data-dtype="Number" />
				</div>
				<div class="resource">
					<label class="resource-label">{{ localize "SPACE1889.Rating" }}</label>
					<input type="text" name="system.rating" value="{{system.rating}}" data-dtype="Number" />
				</div>
			</div>
			<div class="resource flex-group-left flexrow ">
				<div style="display: grid; grid-template-columns: 35% 55% 10%; grid-template-rows: 100%;">
					{{#if system.noSelection}}
					<label class="resource-label item-margintb2px">{{ localize "SPACE1889.BaseSkill" }}</label>
					<div class="resource-content" data-tooltip="{{localize "SPACE1889.UnderlyingSkillIdInfo"}}">
						<input type="text" name="system.underlyingSkillId" value="{{system.underlyingSkillId}}" />
					</div>
					<div class="resource-content flex-group-center item-margintb2px">
						<a class="noSelection-toggle" data-tooltip="{{localize "SPACE1889.UnderlyingSkillSelection"}}"><i class="fa fa-toggle-off"></i></a>
					</div>
					{{else}}
					<label class="resource-label item-margintb2px">{{ localize "SPACE1889.BaseSkill" }}</label>
					<select name="system.underlyingSkillId" data-dtype="String">
						{{selectOptions system.nonGroupSkills selected=system.underlyingSkillId localize=true}}
					</select>
					<div class="resource-content flex-group-center item-margintb2px">
						<a class="noSelection-toggle" data-tooltip="{{ localize "SPACE1889.UnderlyingSkillNoSelection"}}"><i class="fa fa-toggle-on"></i></a>
					</div>
					{{/if}}
				</div>
			</div>
		
		</div>
	</header>

	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="description">{{localize "SPACE1889.Description"}}</a>
	</nav>

	{{!-- Sheet Body --}}
	<section class="sheet-body">

		{{!-- Description Tab --}}
		<div class="tab" data-group="primary" data-tab="description">
			<div class="edit-special">
				{{editor enrichedDescription target="system.description" button=true editable=editable}}
			</div>
			{{#if (ne system.descriptionLangId (localize system.descriptionLangId))}}
				<hr />
				<p>{{{localize system.descriptionLangId}}}</p>
			{{/if}}
		</div>
	</section>
</form>

