<section class="{{cssClass}}" autocomplete="off">

	<ol>
		<li class="item flexrow items-header">
			<label for="system.level.value" class="resource-label">{{localize "SPACE1889.Level"}}</label>
			<label for="system.level.min" class="resource-label">{{localize "SPACE1889.Min" }}</label>
			<label for="system.level.max" class="resource-label">{{localize "SPACE1889.Max"}}</label>
		</li>
		<li class="item flex-group-center flexrow">
			<div class="resource-content flex-center flex-between">
				<input type="text" name="system.level.value" value="{{system.level.value}}" data-dtype="Number" />
			</div>
			<div class="resource-content flex-center flex-between">
				<input type="text" name="system.level.min" value="{{system.level.min}}" data-dtype="Number" />
			</div>
			<div class="resource-content flex-center flex-between">
				<input type="text" name="system.level.max" value="{{system.level.max}}" data-dtype="Number" />
			</div>
		</li>
	</ol>

	<hr>
	<li class="item flexrow items-header">
		<label class="resource-label">{{ localize "SPACE1889.IsBaseResource"}}</label>
	</li>
	<li class="item flex-group-center flexrow">
		<div class="resource-content flex-center flex-between">
			<input type="checkbox" name="system.isBase" {{checked system.isBase}} />
		</div>
	</li>
	<li class="item flexrow items-header" style="display: grid; grid-template-columns: 35% 15% 50%; ">
		<label class="resource-label">{{ localize "SPACE1889.IsCampaingnEffect"}}</label>
		<label class="resource-label">{{ localize "SPACE1889.LevelPl"}}</label>
		<label class="resource-label">{{ localize "SPACE1889.Source"}}</label>
	</li>
	<li class="item flex-group-center flexrow" style="display: grid; grid-template-columns: 35% 15% 50%; ">
		<div class="resource-content flex-center flex-between">
			<input data-tooltip="{{localize "SPACE1889.NoEpCauseCampaingnEffect"}}" type="checkbox" name="system.noEp" {{checked system.noEp}} />
		</div>
		<div class="resource-content flex-center flex-between" data-tooltip="{{localize "SPACE1889.NoEpCampaingnEffectLevel"}}">
			<input type="number" name="system.noEpLevels" value="{{system.noEpLevels}}" data-dtype="Number" min="0" max="{{system.level.max}}" />
		</div>
		<div class="resource-content flex-center flex-between">
			<input type="text" name="system.noEpSource" value="{{system.noEpSource}}" />
		</div>
	</li>

	<hr />
	{{#if (ne system.descriptionLangId (localize system.descriptionLangId))}}
	<p><em>{{{localize system.descriptionLangId}}}</em></p>
	{{/if}}


	{{> "systems/space1889/templates/item/parts/item-description.html"}}

</section>
