<section class="{{cssClass}}" autocomplete="off">

	<li class="item flexrow items-header">
		<label class="resource-label">{{localize "SPACE1889.Weight"}}[kg]</label>
		<label class="resource-label">{{localize "SPACE1889.Price"}}</label>
	</li>
	<li class="item flex-group-center flexrow">
		<div class="resource-content flex-center flex-between">
			<input type="number" min="0" step="0.001" name="system.weight" value="{{system.weight}}" data-dtype="Number"/>
		</div>
		<div class="resource-content flex-center flex-between">
			<input type="text" name="system.price" value="{{system.price}}"/>
		</div>
	</li>

	<li class="item flexrow items-header">
		<label class="resource-label">{{localize "SPACE1889.Quantity"}}</label>
		<label class="resource-label">{{localize "SPACE1889.StorageLocation"}}</label>
	</li>
	<li class="item flex-group-center flexrow">
		<div class="resource-content flex-center flex-between">
			<input type="text" name="system.quantity" value="{{system.quantity}}" data-dtype="Number" />
		</div>
		<div class="resource-content flex-center flex-between">
			{{#if system.locationLong}}
			<label>{{system.locationLong}}</label>
			{{/if}}
		</div>
	</li>

	{{#if (ne system.descriptionLangId (localize system.descriptionLangId))}}
		<hr />
		<p>{{{localize system.descriptionLangId}}}</p>
		<hr />
	{{/if}}

	{{> "systems/space1889/templates/item/parts/item-description.html"}}


</section>
