<section class="{{cssClass}}" autocomplete="off">
	<hr />
	<p />

	<li class="item flexrow items-header">
		<label class="resource-label">{{localize "SPACE1889.Quantity"}}</label>
		<label class="resource-label">{{localize "SPACE1889.MoneyType"}}</label>
		<label class="resource-label" data-tooltip="{{localize "SPACE1889.ExchangeRateForOnePound"}}">{{localize "SPACE1889.ExchangeRate"}}</label>
	</li>
	<li class="item flex-group-center flexrow">
		<div class="resource-content flex-center flex-between">
			<input type="text" name="system.quantity" value="{{system.quantity}}" data-dtype="Number" />
		</div>
		<select name="system.type" data-dtype="String">
			{{selectOptions system.moneyTypes selected=system.type localize=true}}
		</select>
		<div class="resource-content flex-center flex-between">
			<input type="text" name="system.exchangeRateForOnePound" value="{{system.exchangeRateForOnePound}}" data-dtype="Number" />
		</div>
	</li>


	{{> "systems/space1889/templates/item/parts/item-description.html"}}

</section>

