<form class="{{cssClass}}" autocomplete="off">
	<header class="sheet-header">
		<img class="profile-img artwork" src="{{item.img}}" data-edit="img" data-tooltip="{{item.name}}" />
		<div class="header-fields">
			<h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
			{{> "systems/space1889/templates/item/item-sub-id.html"}}
		</div>
	</header>
	<hr>

	<li class="item flexrow items-header">
		<label class="resource-label">{{localize "SPACE1889.FamilyOfLanguages"}}</label>
		<label class="resource-label">{{ localize "SPACE1889.LanguageOrigin"}}</label>
	</li>
	<li class="item flex-group-center flexrow">
		<div class="resource">
			<select name="system.familyId" data-dtype="String">
				{{selectOptions system.families selected=system.familyId localize=true}}
			</select>
		</div>
		<div class="resource">
			<select name="system.originId" data-dtype="String">
				{{selectOptions system.origins selected=system.originId localize=true}}
			</select>
		</div>
	</li>
	<li class="item flexrow items-header">
		<label class="resource-label">{{ localize "SPACE1889.OldLanguage"}}</label>
		<label class="resource-label">{{ localize "SPACE1889.IsDialectFrom"}}</label>
	</li>
	<li class="item flex-group-center flexrow">
		<div class="resource">
			<input type="checkbox" name="system.old" {{checked system.old}} />
		</div>
		<div class="resource">
			<select name="system.isDialectSourceId" data-dtype="String">
				{{selectOptions system.languages selected=system.isDialectSourceId localize=true}}
			</select>
		</div>
	</li>

</form>

